
ion-item {
    --background: transparent;
}
ion-card-header {
    padding: 5px;
}

ion-card-content {
    padding: 5px;
}

.video-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    background: #ffffffe3;
}

ion-item::part(native){
    --inner-padding-end: 0;
}

ion-card-title {
    font-family: 'Haim';
    font-size: large;
    padding-top: 5px;
    color: var(--ion-color-dark);
}

ion-card-subtitle {
      font-family: 'Yoav';
      font-size: medium;
      text-align: right;
}

ion-card-content {
    font-family: 'Yoav';
      font-size: medium;
      text-align: right;
}

.save-video-icon {
    float: right;
    padding: 4px;
    font-size: 24px;
}