ion-card {
    max-width: 240px;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(146, 128, 133);
    background-color: rgb(198, 216, 221);
}

ion-thumbnail {
    --size: 10rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(133, 121, 124);
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

ion-img {
    border-radius: 7px;
    object-fit: fill;
}

ion-item::part(native){
    --inner-padding-end: 0;
}