ion-card {
    max-width: 240px;
    width: 240px;
    height: 390px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(146, 128, 133);
    background-color: #e1e7ea;
}

ion-card-title {
    font-family: 'Choco-bold';
    font-size: x-large;
    height: 50px;
    color: var(--ion-color-dark);
}

.item-description {
    font-family: 'Yoav';
    font-size: medium;
    height: 45px;
}

ion-card-subtitle {
      font-family: 'Varela Round';
      font-size: medium;
}

ion-card-content {
    font-family: 'Yoav';
    font-size: large;
    padding-bottom: 0px;
}

ion-thumbnail {
    --size: 10rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(133, 121, 124);
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

ion-img {
    border-radius: 7px;
    object-fit: contain;
    background: black;
}

ion-item::part(native){
    --inner-padding-end: 0;
}
