<!-- <ion-item lines="none" class="ion-text-center"> -->
  <ion-card class="item-card">
    <ion-card-header class="ion-no-padding ion-padding-top ion-padding-bottom">
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-thumbnail>
      <ion-img [src]="item.thumbnail"></ion-img>
    </ion-thumbnail>
    <ion-card-content>
      <ion-card-subtitle>{{ item.price | currency:'ILS' }}</ion-card-subtitle>
      <p class="item-description">{{ item.description }}</p>
    </ion-card-content>
    <div>
      <ion-button
        class="ion-no-margin"
        fill="clear"
        [color]="itemInCart? 'danger':'primary'"
        (click)="onItemSelected()"
      >
      <ion-icon [class]="itemInCart? 'custom-remove-from-cart':'custom-shopping-cart'" slot="start"></ion-icon>
      <ion-label class="app-store-item-btn">{{ itemInCart? 'הסר מהסל' : 'הוסף לסל' }}</ion-label>
      </ion-button>
      <ion-button
      class="ion-no-margin"
        fill="clear"
        color="primary"
        [routerLink]="['/', 'store', 'item', item.id]"
      >
      <ion-icon name="receipt-outline" slot="start"></ion-icon>
      <ion-label class="app-store-item-btn">פרטים</ion-label>
      </ion-button>
    </div>
  </ion-card>
<!-- </ion-item> -->
