.item-title {
    font-family: 'Varela Round';
    font-weight: bolder;
}

h5 {
    font-family: 'Varela Round';
    font-weight: bolder;
}

p {
    font-family: 'Varela Round';
}

p strong {
    font-family: 'Varela Round';
    font-weight: bolder;
}