<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  class="app-back-btn" text="חזרה" [defaultHref]="['/', 'manage', 'articles']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">מאמר</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" fullscreen="true">
<!------------------------------------------article section -------------------------------------------->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="articleIsLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="!articleIsLoading">
        <div class="container ion-padding">
        <ion-text  class="ion-no-padding article-title">
          <p class="article-author-date">נכתב ע"י {{ article?.authorName }} בתאריך {{ article?.date | date  }}</p>
        </ion-text>
        <ion-text class="article-title" color="medium" *ngIf="article?.date !== article?.lastEdit">
          <small>נערך בתאריך: {{ article?.lastEdit | date }}</small>
        </ion-text>
      </div>
      </ion-col>
    </ion-row>
<!------------------------------------------PDF section -------------------------------------------->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" class="ion-text-center" *ngIf="!articleIsLoading">
        <!-- <embed width='100%' height='100%' [src]="sanitizer.bypassSecurityTrustResourceUrl(article.pdf)" type="application/pdf"> -->
          <iframe [src]="sanitizer?.bypassSecurityTrustResourceUrl(article?.pdf)" width="800px" height="1200px"></iframe>
          <!-- <object
  [data]="sanitizer.bypassSecurityTrustResourceUrl(article.pdf)"
  type="application/pdf"
  width="100%"
  height="100%">
  <p>Your browser does not support PDFs.
    <a href="https://example.com/test.pdf">Download the PDF</a>.</p>
</object> -->
      </ion-col>
    </ion-row>
<!------------------------------------------comments section -------------------------------------------->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="!articleIsLoading">
        <ion-list>
          <div class="comment-item" *ngFor="let comment of article.comments">
            <app-comment [comment]="comment"></app-comment>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>