<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'manage']"></ion-back-button>
    </ion-buttons>
    <ion-title class="app-titles">ניהול משתמשים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
<!---------------------------------- Action Buttons -------------------------------------------------->
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="onAddUser()">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">הוסף</ion-label>
      </ion-button>

      <ion-button color="secondary" (click)="onViewUser()" [disabled]="!isRowSelected">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">פרופיל</ion-label>
      </ion-button>

      <ion-button color="warning" (click)="onEditUser()" [disabled]="!isRowSelected">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">ערוך</ion-label>
      </ion-button>

      <ion-button color="danger" (click)="onDeleteUser()" [disabled]="!isRowSelected">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">מחק</ion-label>
      </ion-button>

      </ion-col>
    </ion-row>
<!---------------------------------- filtering inputs -------------------------------------------------->
    <ion-row>

      <ion-col size="2" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="סנן לפי שם"
          (keyup)="filterByFirstName($event)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="2" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="סנן לפי שם משפחה"
          (keyup)="filterByLastName($event)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="2" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="סנן לפי אימייל"
          (keyup)="filterByMail($event)">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="2" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="סנן לפי יישוב"
          (keyup)="filterByCity($event)">
          </ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------------------------------datatable -------------------------------------------------->
    <ion-row>
      <ngx-datatable
      #usersTable
      [rows]="users"
      class="bootstrap"
      [messages]="{emptyMessage:'אין נתונים להצגה', totalMessage: 'total', selectedMessage: 'selected'}"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="50"
      [columnMode]="columnMode.standard"
      [selected]="selected"
      [selectionType]="SelectionType.single"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="" [sortable]="false" [width]="120" [resizeable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-thumbnail>
          <ion-img [src]="row['profilePicture']"></ion-img>
        </ion-thumbnail>
      </ng-template>
    </ngx-datatable-column> 
    
      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="firstName" [width]="150" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>שם פרטי</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="lastName" [width]="150" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>שם משפחה</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="phone" [width]="180" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>מספר טלפון</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="email" [width]="220" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>אימייל</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="address" [sortable]="true" [width]="270" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>כתובת</strong></ng-template>
        <ng-template let-row="row.address" let-value="value" ngx-datatable-cell-template>
          <a href="https://www.google.com/maps/place/{{row.street}} {{row.houseNumber}}, {{row.city}}, {{row.country}}">
            <i [innerHTML]="row['street']"></i>&nbsp;  
            <i [innerHTML]="row['houseNumber']"></i>,&nbsp;  
            <i [innerHTML]="row['city']"></i>,&nbsp;
            <i [innerHTML]="row['country']"></i> 
          </a>
        </ng-template>
      </ngx-datatable-column> 
    
      <ngx-datatable-footer #datatableFooter>
        <ng-template ngx-datatable-footer-template 
        let-rowCount="rowCount"
        let-selectedCount="selectedCount"
        >
        <div>&nbsp;נבחר {{ selectedCount }}  מתוך {{ rowCount }} משתמשים </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
      <!-- <ngx-datatable 
      [selected]="selected"
      on-select="onSelect(this)"
       class="material"
       [rows]="rows" 
       [columns]="columns"
       > </ngx-datatable> -->
    </ion-row>

  </ion-grid>

</ion-content>
