
.add-user-modal {
    --width: 758px;
    --height: 836px;
}

.view-user-modal {
    --width: 700px;
    --height: 800px;
}

.edit-user-modal {
    --width: 758px;
    --height: 900px;
}

.delete-user-alert {
    color: aqua;
}

.delete-user-alert-btn-cancel {
    color: aquamarine;
}

ngx-datatable {
    border: 1px solid lightgray;
}