<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/manage"></ion-back-button>
    </ion-buttons>
    <ion-title>ניהול משתמשים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-input   
        type="text"
        placeholder="הקלד שם לסינון תוצאות"
        (keyup)="updateFilter($event)">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="onAddUser()">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>הוסף</ion-label>
      </ion-button>

      <ion-button color="secondary" [disabled]="!isRowSelected">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>פרופיל</ion-label>
      </ion-button>

      <ion-button color="warning" [disabled]="!isRowSelected">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>ערוך</ion-label>
      </ion-button>

      <ion-button color="danger" [disabled]="!isRowSelected">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>מחק</ion-label>
      </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>


  <ngx-datatable
  #usersTable
  [rows]="users"
  class="bootstrap"
  [rowHeight]="'auto'"
  [headerHeight]="50"
  [columnMode]="ColumnMode.force"
  [selected]="selected"
  [selectionType]="SelectionType.single"
  (activate)="onActivate($event)"
  (select)="onSelect($event)"
>
  <ngx-datatable-column name="firstName">
    <ng-template let-column="column" ngx-datatable-header-template><strong>שם פרטי</strong></ng-template>
    <!-- <ng-template let-value="value" ngx-datatable-cell-template>
      Hi: <strong>{{value}}</strong>
    </ng-template> -->
  </ngx-datatable-column>
  <ngx-datatable-column name="lastName">
    <ng-template let-column="column" ngx-datatable-header-template>שם משפחה</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="phone">
    <ng-template let-column="column" ngx-datatable-header-template>מספר טלפון</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="email">
    <ng-template let-column="column" ngx-datatable-header-template>אימייל</ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="כתובת" [sortable]="true">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a href="https://www.google.com/maps/place/{{row.street}} {{row.houseNumber}}, {{row.city}}, {{row.country}}">
        <i [innerHTML]="row['street']"></i>&nbsp;  
        <i [innerHTML]="row['houseNumber']"></i>,&nbsp;  
        <i [innerHTML]="row['city']"></i>,&nbsp;
        <i [innerHTML]="row['country']"></i> 
      </a>
    </ng-template>
  </ngx-datatable-column> 

  <!-- <ngx-datatable-column name="פעולות" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-button size="small" fill="outline" (click)="open(row)"
        >Details</ion-button
      >
    </ng-template>
  </ngx-datatable-column> -->
</ngx-datatable>
  <!-- <ngx-datatable 
  [selected]="selected"
  on-select="onSelect(this)"
   class="material"
   [rows]="rows" 
   [columns]="columns"
   > </ngx-datatable> -->
</ion-content>
