<ion-header>
  <ion-toolbar>
    <ion-title class="app-titles">הוספת משתמש</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!linkExpired">
    <ion-grid> 

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7" size-xs="10" class="ion-text-center">
          <ion-avatar class="ion-align-self-center">
            <ion-img [src]="user?.profilePicture"></ion-img>
          </ion-avatar>
          <h1>שלום, {{ user?.firstName }}</h1>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7" size-xs="10">
          <ion-list>

            <ion-item>
              <ion-label class="app-input-label ion-no-margin" position="floating">סיסמה חדשה<ion-text class="required-star" color="danger">*</ion-text></ion-label>
              <ion-input
               #password
                type="password"
                [disabled]="isDone"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
              <ion-icon #passwordIcon (click)="togglePasswordVisibility(password, passwordIcon)" name="eye-off-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label class="ion-padding-start"  *ngIf="!passwordCtrl.valid && passwordCtrl.touched && !passwordCtrl.disabled" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label class="app-input-label ion-no-margin" position="floating">אישור סיסמה חדשה<ion-text class="required-star" color="danger">*</ion-text></ion-label>
              <ion-input
                type="password"
                ngModel
                [disabled]="isDone"
                name="verifyPassword"
                required
                minlength="6"
                #verifyPasswordCtrl="ngModel"
              ></ion-input>
              <ion-icon name="shield-checkmark-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label 
            class="ion-padding-start" 
            *ngIf="(!verifyPasswordCtrl.valid && verifyPasswordCtrl.touched  && !verifyPasswordCtrl.disabled) || (verifyPasswordCtrl.valid && verifyPasswordCtrl.touched && passwordCtrl.value !== verifyPasswordCtrl.value)" 
            color="danger">
              <small> הסיסמאות אינן תואמות!</small>
            </ion-label>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="5" size-xs="6">
          <ion-button
            class="app-submit-cancel-btn"
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid || passwordCtrl.value !== verifyPasswordCtrl.value || isDone"
          >
          שנה סיסמה
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid>
  <ion-row class="ion-justify-content-center" *ngIf="linkExpired">
    <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="7" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
        <line class="path line" fill="none" stroke="#D06079" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
        <line class="path line" fill="none" stroke="#D06079" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
      </svg>
      <p class="error">{{resetMassage}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center" *ngIf="isDone">
    <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="5" size-xs="6">
      <ion-button
        class="app-submit-cancel-btn"
        [href]="moveToAuthPageRef"
        color="primary"
        expand="block"
      >
      המשך לדף ההתחברות
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>