.required-star {
  vertical-align: super;
}

.item-border-input {
  border: 1px solid black;
  border-radius: 7px;
  font-family: "Choco";
  font-size: large;
  padding: 6px !important;
  background: white;
}

// .address-picker {
//     padding-right: 23px;
// }

ion-item {
  --inner-padding-end: 0 !important;
}