
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <div id="invoice" class="invoice-body">
          <div class="invoice-box rtl">
            <table>
              <tr class="top">
                <td colspan="2">
                  <table>
                    <tr>
                      <td>
                        חשבונית: 456632214<br />
                        {{ order?.date | date:'d/M/yyyy'}}<br />
                        אמא של כולכם זונה
                      </td>


                      <td class="title">
                        <img src="https://play-lh.googleusercontent.com/BwgIDIgVQZuG_snn3Z9WNbUMmxVz8Ev0b72sA1esXZ-vhPf3RapovZgmTLOE6raxVg=s180-rw" alt="Company logo" style="width: 110px; max-width: 110px" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
        
              <tr class="information">
                <td colspan="2">
                  <table>
                    <tr>
                      <td>
                      לכבוד: {{ order?.user.firstName + ' ' + order?.user.lastName  }}<br />
                      {{ order?.address.street + ', ' + order?.address.houseNumber }}<br />
                      {{ order?.address.city + ', ' + order?.address.country }}
                      </td>
        
                      <td>
                        פלאי הנשמה בע"מ<br />
                        אהוד מנור, 3<br />
                        קרית מוצקין
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
        
              <tr class="heading">
                <td>Payment Method</td>
        
                <td>Check #</td>
              </tr>
        
              <tr class="details">
                <td>Check</td>
        
                <td>1000</td>
              </tr>
        
              <tr class="heading">
                <td>מוצר</td>
        
                <td>מחיר</td>
              </tr>
        
              <div class="items-box" *ngFor="let item of order?.items">
                <tr class="item">
                  <td>{{ item.name }}</td>
          
                  <td class="item-price">{{ item.price | currency:'ILS' }}</td>
                </tr>
              </div>

              <tr class="total">
                <td></td>
        
                <td>{{ order?.totalPayment | currency:'ILS' }}</td>
              </tr>
            </table>
          </div>
        </div>
        <ion-button (click)="convertToPDF()">הורד חשבונית</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>