<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline" class="toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>פרטי מטפל</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-icon size="medium" name="at-outline"></ion-icon>
    <ion-label class="ion-padding-start">{{ therapist?.email }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon size="medium" name="call-outline"></ion-icon>
    <ion-label class="ion-padding-start">{{ therapist?.phone }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon size="medium" name="home-outline"></ion-icon>
    <ion-label class="ion-padding-start"><a target="_blank" href="https://www.google.com/maps/place/{{getTherapistAddress()}}">{{ getTherapistAddress() }}</a></ion-label>
  </ion-item>

  <ion-item>
    <ion-icon size="medium" name="calendar-outline"></ion-icon>
    <ion-label class="ion-padding-start">{{ getTherapistAge()}}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon size="medium" class="custom-resume ion-align-self-center"></ion-icon>
    <ion-label class="ion-padding-start"> <strong>נסיון: </strong></ion-label>
  </ion-item>
  <ion-item>
    <ion-text>
      <h5>{{ therapist?.resume }}</h5>
    </ion-text>
  </ion-item>


  <ion-item lines="none">
    <ion-icon size="medium" class="custom-brain-treatment ion-align-self-center"></ion-icon>
    <ion-label class="ion-padding-start"> <strong>סוגי טיפול: </strong></ion-label>
  </ion-item>
  <ion-list class="ion-padding-start">
    <div *ngFor="let type of therapist?.treatmentTypes">
      <ion-item class="ion-no-margin">
        <ion-label><strong>{{ type }}</strong></ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-list>