

.treatment-types-list {
    display: flex;
}

.therapist-name {
    font-family: 'Hofesh';
    font-size: xx-large;
  }

.therapist-profile-picture {
    width: 200px;
    height: 200px;
}  

.therapist-detail-label {
    font-family: 'Yoav';
    font-size: larger;
  }