
.course-thumbnail {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.no-class-added-alert {
    --width: 400px;
    --height: 300px;
}

.course-public-label {
    font-family: 'Yoav-bold';
    font-size: large;
    padding-right: 5px;
}

.add-remove-label {
    font-family: 'Abraham';
    font-size: medium;
}

.course-author-date {
    margin-bottom: 1px;
}

.lesson-item {
    font-family: 'Yoav-bold';
}

h2 {
    font-size: larger;
}

h3 {
    font-size: medium;
}