<ion-header>
  <ion-toolbar>
    <ion-title>הוסף קורס</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #stepper [options]="slideOpts">
    
    <ion-slide>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <app-image-picker 
              [showPreview]="this.imageFile" 
              (imagePick)="onImagePicked($event)" 
              class="ion-padding">
            </app-image-picker>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-list>
                <ion-item>
                  <ion-label position="floating"> כותרת <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input
                    type="text"
                    ngModel
                    name="title"
                    required
                    #titleNameCtrl="ngModel"
                  ></ion-input>
                </ion-item>
                <ion-item
                *ngIf="!titleNameCtrl.valid && titleNameCtrl.touched"
                lines="none">
                <ion-label color="danger">
                  זהו שדה חובה!
                </ion-label>
              </ion-item>
                <ion-item>
                  <ion-label position="floating"> תיאור <ion-text color="danger">*</ion-text></ion-label>
                  <ion-textarea 
                    type="text"
                    ngModel
                    name="description"
                    required
                    #descriptionCtrl="ngModel"
                  ></ion-textarea>
                </ion-item>
                <ion-item
                *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched"
                lines="none">
                <ion-label color="danger">
                  זהו שדה חובה!
                </ion-label>
              </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <br>
          <br>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button 
              fill="clear" 
              expand="block"
              (click)="onCancel()"
              >ביטול <ion-icon slot="start" name="close-outline"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button 
              type="submit"
              fill="clear" 
              expand="block"
              [disabled]="!f.valid"
              >שמור והמשך <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

    </ion-slide>


    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="isLoading">
            <ion-spinner color="primary"></ion-spinner>
          </ion-col>
          <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="!isLoading">
            <div class="course-container ion-padding">
            <ion-text>
              <h1 class="ion-no-margin">{{ course?.title }}</h1>
            </ion-text>
            <ion-text>
              <h5 class="ion-margin-top">{{ course?.description }}</h5>
            </ion-text>
            <ion-img [src]="course?.thumbnail" class="course-thumbnail"></ion-img>
            <ion-text  class="ion-no-padding">
              <p class="article-author-date ion-no-margin"> המרצה {{ course?.authorName }}</p>
            </ion-text>
            <ion-text  class="ion-no-padding">
              <p class="article-author-date"> {{ course?.date | date  }}</p>
            </ion-text>
          </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="lessonsIsLoading">
            <ion-spinner color="primary"></ion-spinner>
          </ion-col>
          <ion-col size="12" size-sm="8" class="ion-text-center" *ngIf="!lessonsIsLoading">
            <ion-list>
              <div class="comment-item" *ngFor="let lesson of course?.lessons">
                <ion-item>
                  <ion-thumbnail size="medium" slot="start">
                    <ion-img [src]="lesson.thumbnail" class="lesson-thumbnail-image"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    <h2>שיעור מספר {{ lesson.lessonNumber }}: {{ lesson.title }}</h2>
                    <h3>{{ lesson.description }}</h3>
                    <ion-text color="medium">
                      <p>{{ lesson?.date | date }}</p>
                    </ion-text>
                  </ion-label>
                  <ion-button color="danger" (click)="onDeleteLesson(lesson.id)" fill="clear" slot="end">
                    <ion-icon name="trash-outline" slot="start"></ion-icon>
                    <ion-label>מחק שיעור</ion-label>
                  </ion-button>
                </ion-item>
              </div>
              <ion-item>
                <div style="padding: 5px 10px">
                  <ion-button (click)="onAddLesson()">
                    <ion-icon name="add" slot="start"></ion-icon>
                    <ion-label>הוסף שיעור</ion-label>
                  </ion-button>
                  </div>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-button 
            fill="clear" 
            expand="block"
            (click)="onSaveAndExit()"
            >שמור וסיים <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>

</ion-content>
