.add-update-item-label {
    font-family: 'Yoav';
    font-size: larger;
}

.selecte-update-button-label {
    font-family: 'Ktav-Yad-Bold' !important;
    padding: 2px 2px 0px 0px;
}

.product-name-label {
    font-family: 'Yoav';
    font-size: larger;
}

.product-name-label p {
    font-family: 'Yoav';
    font-size: medium;
}

.update-active-label {
    font-family: 'Yoav-bold';
    font-size: large;
    padding-right: 5px;
}