.profile-image {
    width: 300px;
    height: 300px;
    margin-top: 15%;
    border-radius: 50%;
    bottom: calc(-1*(80px + 4px)); // -42px;
    border: 3px solid rgb(62, 63, 70);
    background-color: #fff;
    object-fit: cover;
  }

  ion-card {
    --background: url("../../../assets/background/backgColor.jpg") no-repeat top, rgb(223, 232, 248);
    background-size: 100% 40%;
    position: relative;
    height: 100%;
    width: auto;
}

ion-card-header {
  padding-top: 10px;
}

ion-card-title {
  font-family: 'Hofesh';
  font-size: xx-large;
}

ion-item {
  --background: transparent;
}

.main-col {
  // max-width: 450px !important;
  // min-width: 420px !important;
  max-width: fit-content !important;
  min-width: fit-content !important;
}

.user-detail-card {
  width: 350px !important;
}

ion-back-button::part(text){
  margin-top: 2px;
}

ion-item::part(native){
  padding-inline-start: 0;
}
