<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">חנות</ion-title>
    <ion-icon class="title-icon" slot="start" name="storefront-outline"></ion-icon>
    <ion-buttons slot="primary">
      <ion-button class="btn-cart" (click)="onGoToCart()">
        <ion-icon name="cart-outline" class="toolbar-icon" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-badge color="danger" class="cart-badge">{{ itemsAddedToCart }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngFor="let category of categories" class="category-block">
      <ion-row class="category-banner ion-no-padding ion-justify-content-center">
        <ion-col class="button tappable ion-text-right align-self-center category-title">{{ category }}</ion-col>
      </ion-row>
      <ion-slides #itemsSlides pager="true" [options]="sliderConfig" class="store-item-slides">
        <ion-slide class="item-slide" *ngFor="let item of getItemByCategory(category)">
            <app-store-item [item]="item" class="store-item" (selectedItem)="onItemAddedToCart($event)"></app-store-item>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-grid>
</ion-content>

<!-- <ion-content>
  <ion-grid>
    <div *ngFor="let category of categoryItem" class="category-block">
      <ion-row class="category-banner ion-no-padding ion-justify-content-center">
        <ion-col class="button tappable ion-text-right align-self-center category-title">{{ category.category }}</ion-col>
      </ion-row>
      <ion-slides #itemsSlides [options]="sliderConfig">
        <ion-slide class="item-slide" *ngFor="let item of category.items">
            <app-store-item [item]="item" [disabled]="itemExistInCart(item.id)" class="store-item" (selectedItem)="onItemAddedToCart($event)"></app-store-item>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-grid>
</ion-content> -->
