.store-item-col {
    min-width: 300px;
}

.cart-icon {
    margin-bottom: -5px;
}

.cart-badge {
    position: absolute; 
    right: -10px; top: 0px; 
    border-radius: 11px;
}

.category-block {
    // width: min-content;
    margin-bottom: 4px;
}

.item-slide {
    width: 300px !important;
}

.category-banner {
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    // font-weight: 500;
}