.store-item-col {
    min-width: 300px;
}

.store-item-slides {
    --bullet-background: black;	
}

.btn-cart {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

.cart-icon {
    margin-bottom: -5px;
}

.cart-badge {
    position: absolute; 
    right: -4px; 
    top: 0px; 
    border-radius: 11px;
    width: 24px;
}

.category-block {
    margin-bottom: 4px;
}

.category-title {
    font-family: 'Varela Round';
    font-size: larger;
    font-weight: bolder;
    color: var(--ion-color-dark);
    background-color: rgb(194, 194, 194);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: -9px 4px !important;
}

.swiper-pagination {
    top: 4px !important;
    height: 12px;
    padding-top: 5px;
}


.store-item {
    padding-bottom: 20px;
}

// .item-slide {
//     height: auto;
//  }

// .category-banner {

// }