.store-item-col {
    min-width: 300px;
}

.btn-cart {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

.cart-icon {
    margin-bottom: -5px;
}

.cart-badge {
    position: absolute; 
    right: -4px; 
    top: 0px; 
    border-radius: 11px;
    width: 24px;
}

.category-block {
    margin-bottom: 4px;
}

.category-title {
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(194, 194, 194);
}

.store-item {
    min-width: max-content;
    // position: fixed;
    // top: 0;
    // right: 0;
}

// .item-slide {

// }

// .category-banner {

// }