
.number-select-item {
    --background: lightgrey;
    --detail-icon-color: black;
    --background-hover-opacity: 0.2;
    --border-width: 1px;
    --border-radius: 5px;
    --border-color: black;
}

ion-label {
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(214, 214, 214);
    height: 24px;
    width: 24px;
}

.number-input {
    border: 1px solid black;
}