
.number-select-item {
    --background: lightgrey;
    --detail-icon-color: black;
    --background-hover-opacity: 0.2;
    --border-width: 1px;
    --border-radius: 5px;
    --border-color: black;
}