.input-item {
  border: 1px solid black;
  border-radius: 7px;
}

.city-options {
  border: 1px solid black;
}

option::-webkit-search-results-decoration {
  background: blue;
}

.city-input {
  font-family: "Choco";
  font-size: large;
}

.item-border-input {
  border: 1px solid black;
  border-radius: 7px;
  font-family: "Choco";
  font-size: large;
  padding: 6px !important;
  background: white;
}

span {
  background: white;
  border: 0px;
}

input::placeholder {
  font-family: "Choco";
  font-size: large;
  color: var(--ion-color-dark, black) !important;
  // color: black !important;
}

input {
  font-family: 'Choco' !important;
  font-size: large !important;
  color: var(--ion-color-dark, black) !important;
}

.required-star {
  vertical-align: super;
}

// .e-input-group.e-disabled .e-input-group-icon,
// .e-input-group.e-control-wrapper {
//   border: 1px solid black !important;
//   border-radius: 5px;
//   padding: 3px;
//   font-size: medium;
// }

input.e-input,
textarea.e-input,
.e-input-group,
.e-input-group.e-control-wrapper {
  //  font-family: 'Choco' !important;
  font-size: large !important;
  font-weight: 400;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled
  .e-input-in-wrap {
  // background: inherit;
  color: var(--ion-color-dark, black) !important;
   background-image: none; 
   border: 1px solid;
    border-width: 0 0 1px 0;
}
