.input-item {
  border: 1px solid black;
  border-radius: 7px;
}

.city-options {
  border: 1px solid black;
}

option::-webkit-search-results-decoration {
  background: blue;
}

.city-input {
  font-family: "Choco";
  font-size: large;
}

.item-border-input {
  border: 1px solid black;
  border-radius: 7px;
  font-family: "Choco";
  font-size: large;
  padding: 6px !important;
  background: white;
}

span {
  background: white;
  border: 0px;
}

input::placeholder {
  font-family: "Choco";
  font-size: large;
  color: var(--ion-color-dark, black) !important;
  // color: black !important;
}

input {
  font-family: 'Choco' !important;
  font-size: large !important;
  color: var(--ion-color-dark, black) !important;
}

.required-star {
  vertical-align: super;
}

// .e-input-group.e-disabled .e-input-group-icon,
// .e-input-group.e-control-wrapper {
//   border: 1px solid black !important;
//   border-radius: 5px;
//   padding: 3px;
//   font-size: medium;
// }

input.e-input,
textarea.e-input,
.e-input-group,
.e-input-group.e-control-wrapper {
  //  font-family: 'Choco' !important;
  font-size: large !important;
  font-weight: 400;
}

.e-input-group input.e-input,
.e-input-group textarea.e-input,
.e-input-group input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus),
.e-input-group textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]),
.e-input-group.e-control-wrapper input.e-input,
.e-input-group.e-control-wrapper textarea.e-input,
.e-input-group.e-control-wrapper input.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]):not(:focus),
.e-input-group.e-control-wrapper textarea.e-input:hover:not(.e-success):not(.e-warning):not(.e-error):not([disabled]) {
  color: var(--ion-color-dark, black) !important;
   background-image: none; 
   border: 0px solid lightgrey;
   border-width: 0 0 1px 0;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled
  .e-input-in-wrap {
  // background: inherit;
  color: var(--ion-color-dark, black) !important;
   background-image: none; 
   border: 0px solid  lightgrey;
   border-width: 0 0 1px 0;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled
  .e-input-in-wrap::placeholder {
  // background: inherit;
  color: var(--ion-color-dark, black) !important;
}

.e-input[disabled],
.e-input-group .e-input[disabled],
.e-input-group.e-control-wrapper .e-input[disabled],
.e-input-group.e-disabled,
.e-input-group.e-control-wrapper.e-disabled,
.e-float-input input[disabled],
.e-float-input.e-control-wrapper input[disabled],
.e-float-input textarea[disabled],
.e-float-input.e-control-wrapper textarea[disabled],
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled {
  -webkit-text-fill-color: var(--ion-color-dark, black) !important;
  background: transparent;
  color: var(--ion-color-dark, black) !important;
  background-image: none; 
  background-position: bottom -1px left 0;
  background-repeat: repeat-x;
  background-size: 4px 1px;
  border-bottom-color: lightgray;
}

ion-item::part(native){
  --inner-padding-end: 0;
  padding-right: 0px;
  padding-left: 15px;
}