.input-item {
    border: 1px solid black;
    border-radius: 7px;
}

.city-options {
    border: 1px solid black;
}

option::-webkit-search-results-decoration {
    background: blue;
  }

.city-input {
    font-size: large;
}  

.item-border-input {
    border: 1px solid black;
    border-radius: 7px;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    padding: 6px !important;
}