<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'manage','courses']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">שיעור</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<!------------------------------------------lesson section -------------------------------------------->
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="3" size-lg="5" size-md="6" size-sm="7"  class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size="12" size-xl="3" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="!isLoading">
        <div class="course-container ion-padding">
        <ion-text class="lesson-title">
          <h1 class="ion-no-margin">שיעור מספר {{ lesson.lessonNumber }}: {{ lesson.title }}</h1>
        </ion-text>
        <ion-text class="lesson-title">
          <h5 class="ion-margin-top">{{ lesson?.description }}</h5>
        </ion-text>
        <ion-text  class="ion-no-padding lesson-title">
          <p class="article-author-date"> {{ lesson?.date | date  }}</p>
        </ion-text>
      </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="4" size-xl="4" size-lg="4" size-md="4" size-sm="4" *ngIf="!isLoading">
        <ion-list *ngIf="lessons !== null" class="ion-no-padding">
          <div class="comment-item" *ngFor="let lessonItem of lessons">
            <ion-item (click)="playClass(lessonItem)" [routerLink]="" [class.active]="lessonItem.id === this.lesson.id">
              <ion-thumbnail size="medium" slot="start" class="lesson-thumbnail">
                <ion-img [src]="lessonItem.thumbnail" class="lesson-thumbnail-image"></ion-img>
              </ion-thumbnail>
              <ion-label class="lesson-item">
                <h2>שיעור מספר {{ lessonItem.lessonNumber }}: {{ lessonItem.title }}</h2>
                <h3>{{ lessonItem.description }}</h3>
                <ion-text color="medium">
                  <p>{{ lessonItem?.date | date }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="7" size-xl="7" size-lg="7" size-md="7" size-sm="7" *ngIf="!isLoading">
        <div class="video-player-panel">
          <iframe
          [src]="this?.embedVideo"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
          msallowfullscreen="true"
          style="height: 360px; width: 639px; margin-top: 47px; border-radius: 5px;"
        ></iframe>
          <!-- <div id="youtube-player"></div> -->
        </div>
          <ion-row class="row-arrow-buttons">
            <ion-col>
              <ion-button 
              *ngIf="hesPrevious"
              fill="clear" 
              expand="block"
              (click)="onPreviousClass()"
              class="app-order-pay-btn"
              > שיעור קודם <ion-icon slot="start" name="arrow-back"></ion-icon></ion-button>
            </ion-col>
            <ion-col>
              <ion-button 
              *ngIf="hesNextClass"
              fill="clear" 
              expand="block"
              (click)="onNextClass()"
              class="app-order-pay-btn"
              > שיעור הבא <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-button 
        *ngIf="hesNextClass"
        fill="clear" 
        expand="block"
        (click)="onNextClass()"
        > שיעור הבא <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
