<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/', 'manage','courses', 'view', lesson?.courseId]"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">שיעור</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<!------------------------------------------lesson section -------------------------------------------->
  <ion-grid>

    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center" *ngIf="!isLoading">
        <div class="course-container ion-padding">
        <ion-text>
          <h1 class="ion-no-margin">שיעור מספר {{ lesson.lessonNumber }}: {{ lesson.title }}</h1>
        </ion-text>
        <ion-text>
          <h5 class="ion-margin-top">{{ lesson?.description }}</h5>
        </ion-text>
        <ion-text  class="ion-no-padding">
          <p class="article-author-date"> {{ lesson?.date | date  }}</p>
        </ion-text>
      </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="12" size="4" *ngIf="!isLoading">
        <ion-list *ngIf="lessons !== null" class="ion-no-padding">
          <div class="comment-item" *ngFor="let lesson of lessons">
            <ion-item (click)="playNextClass(lesson)" [routerLink]="">
              <ion-thumbnail size="medium" slot="start">
                <ion-img [src]="lesson.thumbnail" class="lesson-thumbnail-image" [class.active]="this.lesson === lesson"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>שיעור מספר {{ lesson.lessonNumber }}: {{ lesson.title }}</h2>
                <h3>{{ lesson.description }}</h3>
                <ion-text color="medium">
                  <p>{{ lesson?.date | date }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="12" size="7" *ngIf="!isLoading">
          <div id="youtube-player"></div>
        <ion-button 
        *ngIf="hesNextClass"
        fill="clear" 
        expand="block"
        (click)="onNextClass()"
        > שיעור הבא <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-button 
        *ngIf="hesNextClass"
        fill="clear" 
        expand="block"
        (click)="onNextClass()"
        > שיעור הבא <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
