.active {
    --background: lightgray;
}

.video-player-panel {
    background: url("../../../../assets/background/screenTv.png") no-repeat top, #fff;
    background-size: 100% 100%;
    height: 627px;
    width: 728px;
    text-align: center;
}

.row-arrow-buttons {
    width: 640px;
}

.lesson-thumbnail {
    width: 90px;
    height: 69px;
}

.lesson-title {
    font-family: 'Yoav-bold';
}

.lesson-item {
    font-family: 'Yoav-bold';
}

.lesson-thumbnail-image {
    object-fit: fill;
}

// #youtube-player {
//     box-sizing: border-box;
//     display: block;
//     width: 200px;
//     height: 200px;
//     border-width: 50px;
//     border-image: url(../../../../assets/background/screen.png) 50 no-repeat;
// }