<ion-header>
  <ion-toolbar>
    <ion-title class="app-titles">התחברות</ion-title>
    <ion-icon class="title-icon" slot="start" name="log-in-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7">
          <ion-avatar>
            <ion-img [src]="userProfilePicture">
            </ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7">
          <ion-list>

            <ion-item>
              <ion-label class="app-input-label" position="floating">אימייל</ion-label>
              <ion-input
                type="email"
                ngModel="aviad@gmail.com"
                name="email"
                required
                email
                #emailCtrl="ngModel"
                (ionBlur)="getUserProfilePicture(emailCtrl)"
              ></ion-input>
              <ion-icon name="at-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label color="danger">
                כתובת המייל אינה תקינה!
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label class="app-input-label" position="floating">סיסמה</ion-label>
              <ion-input
                #password
                type="password"
                ngModel="aviad2510"
                name="password"
                required
                minlength="8"
                #passwordCtrl="ngModel"
              ></ion-input>
              <ion-icon #passwordIcon (click)="togglePasswordVisibility(password, passwordIcon)" name="eye-off-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label color="danger">
                הסיסמה חייבת להיות בת 8 תווים לפחות!
              </ion-label>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7">
          <ion-button
            title="התחבר"
            class="app-login-btn"
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
          התחבר
          </ion-button>
        </ion-col>
      </ion-row>
     </form>

     <ion-row class="ion-justify-content-center">
      <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7" class="ion-text-center">
        <ion-button
          title="הרשמה"
          fill="clear"
          color="primary"
          [routerLink]="['/','registration']"
      >
      <ion-icon class="custom-register" slot="start"></ion-icon>
      <ion-label class="app-register-btn">הרשמה</ion-label>
      </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
