ion-avatar {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
    max-width: 200px !important;
    max-height: 200px !important;
    border: 1px solid lightblue;
}

.forgot-password-btn {
    font-family: 'Ktav-Yad-Medium';
    font-size: small;
}