.address {
    border: 1px solid rgb(202, 195, 195);
  }

.titlebox {
	float: right;
	font-size: larger;
	// padding:0 5px;
	margin:-18px 14px 0 10px;
	background:#fff;
 }

 .titlebox-icon {
	float: left;
	// padding:0 5px;
	margin:-32px 10px 0 10px;
	background:#fff;
 }

 .grid {
	margin-top: 4px;
 }

 ionic-selectable {
	 max-width: fit-content !important;
 }

 ion-picker {
	 direction: ltr;
 }

 .modal {
	 background-color: black;
 }