<div class="address">
  <div class="titlebox">כתובת   <ion-icon name="location-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon></div>
<ion-grid class="grid">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>בחר מדינה</ion-label>
        <ionic-selectable
          #selectableCountriesComponent
          [items]="countriesList"
          [canSearch]="true"
          (onOpen)="this.selectableStreetComponent.clear(); this.selectableCitiesComponent.clear()"
          (onSearch)="updateSearchCountriesResults($event)"
          (onChange)="selectCountryResult($event)">
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>בחר עיר</ion-label>
        <ionic-selectable
          #selectableCitiesComponent
          (onOpen)="this.selectableStreetComponent.clear()"
          [isEnabled]="this.selectableCountriesComponent.hasValue() && !this.selectableCountriesComponent.isOpened"
          [items]="citiesList"
          [canSearch]="true"
          (onSearch)="updateSearchCitiesResults($event)"
          (onChange)="selectCitiesResult($event)">
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label>בחר רחוב</ion-label>
        <ionic-selectable
          #selectableStreetComponent
          [isEnabled]="this.selectableCitiesComponent.hasValue() && !this.selectableCitiesComponent.isOpened"
          [items]="streetsList"
          [canSearch]="true"
          [canClear]="true"
          (onSearch)="updateSearchStreetsResults($event)"
          (onChange)="selectStreetResult($event)">
        </ionic-selectable>
      </ion-item>
    </ion-col>
    <ion-col size-sm="4">
      <ion-item>
        <ion-label position="floating">מספר בית<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</div>



<!-- <ion-grid>
  <ion-row>
    <ion-col>
        <ion-searchbar [value]="this.countriesAutocomplete" name="country" #countryPicker (ionInput)="updateSearchCountriesResults($event)" placeholder="בחר מדינה"></ion-searchbar>
        <ion-list position="floating" [hidden]="countries.length == 0 || this.hideCountriesList">
          <ion-item *ngFor="let country of countries" tappable (click)="selectCountryResult(country)">
            {{ country }}
          </ion-item>
        </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-searchbar [value]="this.citiesAutocomplete" name="country" #cityPicker (ionInput)="updateSearchCitiesResults($event)" placeholder="בחר מדינה"></ion-searchbar>
        <ion-list [hidden]="cities.length == 0 || this.hideCitiesList">
          <ion-item *ngFor="let city of cities" tappable (click)="selectCitiesResult(city)">
            {{ city }}
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid> -->

