.address {
    border: 1px solid rgb(148, 140, 140);
  }

.titlebox{
	float:right;
	padding:0 5px;
	margin:-12px 10px 0 30px;
	background:#fff;
 }

 .grid{
	margin-top: 4px;
 }

 ionic-selectable {
	 max-width: fit-content !important;
 }