
.manage-tool-tab {
    height: 250px;
    border: 2px solid;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #afbdd8;
}

.manage-tool-tab:hover {
    background-color: rgb(225, 227, 236);
}

.manage-tool-tab-label {
    font-family: 'Abraham';
    font-size: x-large;
}

ion-icon {
    font-size: 150px;
}
