
.manage-tool-tab {
    height: 250px;
    border: 2px solid;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #afbdd8;
}

.manage-tool-tab:hover {
    background-color: rgb(225, 227, 236);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
}

.manage-tool-tab-label {
    font-family: 'Abraham';
    font-size: x-large;
}

ion-icon {
    font-size: 150px;
}
