<ion-header>
  <ion-toolbar>
    <ion-title>כלי ניהול</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-tab-button>
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>משתמשים</ion-label>
        </ion-tab-button>
    </ion-col>
    <ion-col>
        <ion-tab-button>
          <ion-icon class="custom-online-course"></ion-icon>
          <ion-label>קורסים</ion-label>
        </ion-tab-button>
    </ion-col>
    <ion-col>
        <ion-tab-button>
          <ion-icon class="custom-conference"></ion-icon>
          <ion-label>כנסים</ion-label>
        </ion-tab-button>
    </ion-col>
    <ion-col>
        <ion-tab-button>
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-label>מאמרים</ion-label>
        </ion-tab-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
