.picker {
    width: 30rem;
    max-width: 95%;
    height: 20rem;
    max-height: 30vh;
    border: 1px solid var(--ion-color-primary);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  input[type='file'] {
    display: none;
  }

  .cover {
    --background: url("../../../../assets/background/backColor.jpg") no-repeat top, #fff;
    background-size: 100% 40%;
    position: relative;
    height: 100%;
    width: 100%;
}

.action-sheet {
  justify-content: center;
}