quill-editor {
    direction: ltr;
}

#toolbar-container .ql-font span[data-label="David"]::before {
    font-family: "David";
  }

  .ql-font-arial {
    font-family: "David";
  }

  hive-rich-text {
    --hive-rte-placeholder-position-right: 10px;
  }