<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">סירטונים</ion-title>
    <ion-icon class="custom-video title-icon" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-justify-content-center" *ngIf="isLoading">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" >
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
      <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7">
        <ion-list>
          <div *ngFor="let video of videos">
            <app-video-item [video]="video"></app-video-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>