<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button routerLink="/manage" defaultHref="/manage"></ion-back-button>
  </ion-buttons>
  <ion-title>ניהול מוצרים</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
<!---------------------------------- Action Buttons -------------------------------------------------->
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="onAddItem()">
        <ion-icon class="custom-online-course" slot="start"></ion-icon>
        <ion-label>הוסף</ion-label>
      </ion-button>

      <ion-button color="secondary" (click)="onViewItem()" [disabled]="!isRowSelected">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>צפייה</ion-label>
      </ion-button>

      <ion-button color="warning" (click)="onEditItem()" [disabled]="!isRowSelected">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>ערוך</ion-label>
      </ion-button>

      <ion-button color="danger" (click)="onDeleteItem()" [disabled]="!isRowSelected">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>מחק</ion-label>
      </ion-button>

      </ion-col>
    </ion-row>
<!---------------------------------- filtering inputs -------------------------------------------------->
    <ion-row>

      <ion-col size="12" size-xl="3" size-lg="4" size-md="5" size-sm="6" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="חפש מוצר"
          (keyup)="filterItems($event)">
          </ion-input>
          <ion-icon name="funnel-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-xl="4" size-lg="4" size-md="6" size-sm="8" class="ion-padding-end">
        <ion-item>
          <ion-select interface="popover" mode="ios" value=" " placeholder="סנן לפי קטגוריה" (ionChange)="onFilterCategories($event)">
            <ion-select-option value="">הצג הכל</ion-select-option>
            <ion-select-option [value]="categories.BOOKS">{{ categories.BOOKS }}</ion-select-option>
            <ion-select-option [value]="categories.TREATMENTS">{{ categories.TREATMENTS }}</ion-select-option>
            <ion-select-option [value]="categories.CONFERENCES">{{ categories.CONFERENCES }}</ion-select-option>
            <ion-select-option [value]="categories.COURSES">{{ categories.COURSES }}</ion-select-option>
            <ion-select-option [value]="categories.ARTICLES">{{ categories.ARTICLES }}</ion-select-option>
            <ion-select-option [value]="categories.ACCESSORIES">{{ categories.ACCESSORIES }}</ion-select-option>
            <ion-select-option [value]="categories.OTHER">{{ categories.OTHER }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------------------------------ courses datatable -------------------------------------------------->
    <ion-row>
      
      <ngx-datatable
      #coursesTable
      [rows]="items"
      class="bootstrap"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [footerHeight]="50"
      [messages]="{emptyMessage:'אין נתונים להצגה', totalMessage: 'total', selectedMessage: 'selected'}"
      [limit]="50"
      [columnMode]="columnMode.standard"
      [selected]="selected"
      [selectionType]="SelectionType.single"
      [sorts]="[{ prop: 'category', dir: 'aesc' }]"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
    <ngx-datatable-column name="" [sortable]="false" [width]="100" [resizeable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-thumbnail>
          <ion-img [src]="row['thumbnail']"></ion-img>
        </ion-thumbnail>
      </ng-template>
    </ngx-datatable-column> 

      <ngx-datatable-column name="name" [width]="150" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>שם המוצר</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="price" [sortable]="true" [width]="120" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>מחיר</strong></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row['price'] | currency:'ILS' }}
        </ng-template>
      </ngx-datatable-column> 

      <ngx-datatable-column name="quantity" [width]="120" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>כמות</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="category" [width]="120" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>קטגוריה</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer #datatableFooter>
        <ng-template ngx-datatable-footer-template 
        let-rowCount="rowCount"
        let-selectedCount="selectedCount"
        >
        <div>&nbsp;נבחר {{ selectedCount }}  מתוך {{ rowCount }} מוצרים </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>

    </ion-row>

  </ion-grid>
</ion-content>
