<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">מאמרים</ion-title>
    <ion-icon class="title-icon" slot="start" name="newspaper-outline"></ion-icon>
    <ion-buttons slot="primary">
      <ion-button routerLink="new">
        <ion-icon class="toolbar-icon-text-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="4" size-lg="4" size-md="4" size-sm="4" class="ion-text-center">
        <ion-list>
          <div *ngFor="let article of articles">
            <ion-fab vertical="start" horizontal="start" slot="fixed" *ngIf="isArticleAuthor(article.authorId)" edge>
              <ion-fab-button>
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list>
                <ion-fab-button color="warning" [routerLink]="['/', 'article', 'edit', article.id]">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="danger" (click)="onDelete(article.id)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="light" [routerLink]="['/', 'article', article.id]">
                  <ion-icon name="logo-vimeo"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
            <app-article-item [article]="article" [routerLink]="['/', 'article', article.id]"></app-article-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
