<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/', 'manage','coupons']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">פרטי קופון</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="isLoading">
      <ion-col size="12" size-xl="6" size-lg="4" size-md="3" size-sm="2"  class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
      <div class="coupon-panel">

        <div class="coupon-code">
          <ion-icon src="../../../../assets/icon/scissors.svg" class="scissors-icon"></ion-icon>
          <h1>{{ coupon?.code | uppercase }}</h1>
        </div>

        <div class="coupon-expiration-date">
          <p>בתוקף עד: {{ coupon?.expirationDate | date }}</p>
        </div>

        <div class="coupon-discount">
          <h1>{{ coupon?.discount / 100 | percent:'1.0' }}</h1>
        </div>

        <div class="date-countdown">
          <app-date-countdown [end]="coupon.expirationDate"></app-date-countdown>
        </div>

        <div class="coupon-quantity">
          <p>נותרו לשימוש: {{ coupon?.quantity }}</p>
        </div>

      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="item">
        <ion-item lines="none" class="item-panel">
          <ion-thumbnail class="ion-no-margin thumbnail-border">
            <ion-img [src]="item?.thumbnail"></ion-img>
          </ion-thumbnail>
          <ion-text>
            <h1 class="ion-no-margin">{{ item?.name }}</h1>
            <h3 class="ion-no-margin">{{ item?.description }}</h3>
            <p class="ion-no-margin">מחיר: {{ item?.price | currency:'ILS' }}</p>
          </ion-text>
        </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
