<!-- <ion-item>
  <ion-thumbnail  size="medium" slot="start">
    <ion-img [src]="comment.author.profilePicture"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <ion-text>
      <h2>{{ comment.title }}</h2>
    </ion-text>
    <ion-text color="medium">
      <p>{{ comment.body }}</p>
    </ion-text>
    <p>{{ comment.date | date }}</p>
  </ion-label>
</ion-item> -->

<ion-item lines="none">
  <ion-avatar  size="large" slot="start" class="ion-align-self-start">
    <ion-img [src]="author?.profilePicture" class="comment-avatar"></ion-img>
  </ion-avatar>
  <div class="talk-bubble tri-right round border right-top">
    <div class="talktext">
    <ion-text>
      <b>{{ getAuthorFullName() }}</b>
    </ion-text>
    <ion-text color="medium">
      <p>{{ comment.body }}</p>
    </ion-text>
    <small>{{ comment.date | date }}</small>
    <!-- <p>{{ comment.date | date }}</p> -->
  </div>
  </div>
</ion-item>