.course-thumbnail {
    height: 200px;
    object-fit: fill;
    padding: 5px;
}

// ion-item {
//     width: fit-content;
// }

.course-card {
    // background-color: #e8e8e8;
    width: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

ion-img::part(image) {
    border-radius: 5px;
    image-rendering: pixelated;
}