.course-thumbnail {
    height: 200px;
    object-fit: fill;
    padding: 5px;
}

ion-card-title {
    font-family: 'Yoav';
}

ion-card-subtitle {
      font-family: 'Yoav';
      font-size: large;
}

ion-card-content {
    font-family: 'Yoav-bold';
    font-size: large;
}

ion-label {
    font-family: 'Yoav-bold' !important;
    font-size: x-large !important;
}

.course-card {
    --background: #e0e1e4;
    width: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

ion-img::part(image) {
    border-radius: 5px;
    image-rendering: pixelated;
}

ion-item::part(native){
    --inner-padding-end: 0;
}