
.default-thumbnail-image {
    object-fit: contain;
    background: black;
}

.lesson-item {
    font-family: 'Yoav-bold';
}

h2 {
    font-size: larger;
}

h3 {
    font-size: medium;
}

.edit-remove-label {
    font-family: 'Abraham';
    font-size: medium;
}

.course-public-label {
    font-family: 'Yoav-bold';
    font-size: large;
    padding-right: 5px;
}