<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="!isDesktop">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>בית</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="event">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>אירועים</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>משתמשים</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="article">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>מאמרים</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="course">
      <ion-icon class="custom-online-course"></ion-icon>
      <ion-label>קורסים</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>חנות</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>תפריט</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
