
.content-label {
    background: aliceblue;
    border-radius: 5px 5px 0px 5px;
    margin-bottom: auto;
}

ion-avatar {
    border-radius: 0px 35px 35px 35px;
    background: aliceblue;
    margin-top: 24px;
    width: 70px;
    height: 70px;
}