<ion-header>
  <ion-toolbar>
    <ion-title>תפריט</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item button detail="true" routerLink="/tabs/user">
      <ion-icon src="../../assets/icon/my-profile.svg"></ion-icon>
      <ion-label class="menu-item-label">
        <ion-text>הפרופיל שלי</ion-text>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" routerLink="/tabs/user">
      <ion-icon src="../../assets/icon/my-calendar.svg"></ion-icon>
      <ion-label class="menu-item-label">
        <ion-text>לוח השנה שלי</ion-text>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" routerLink="/tabs/user">
      <ion-icon src="../../assets/icon/my-orders.svg"></ion-icon>
      <ion-label class="menu-item-label">
        <ion-text>ההזמנות שלי</ion-text>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" routerLink="/tabs/user">
      <ion-icon src="../../assets/icon/my-settings.svg"></ion-icon>
      <ion-label class="menu-item-label">
        <ion-text>הגדרות</ion-text>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
