// .course-container{
//     border: 0.5px solid lightgray;
// }
.course-thumbnail {
    width: 350px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    object-fit: contain;
    background: black;
}

.course-author-date {
    margin-bottom: 1px;
}

// .lessons-list {
//     border: 1px solid black;
// }

.course-title {
    font-family: 'Yoav-bold';
    font-size: large;
}

.lessons-item {
    --background: lightgrey;
    padding-bottom: 5px;
}

.course-lesson-label {
    font-family: 'Yoav-bold';
}

.play-icon {
    font-size: 55px;
    color: red;
}