<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding ion-padding-start app-titles">מאמר חדש</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-grid [fixed]="true">
      
            <ion-row class="ion-justify-content-center">
              <ion-col  size-xl="4" size-lg="4" size-md="3" size-sm="3">
                <app-image-picker 
                [showPreview]="this.file" 
                (imagePick)="onImagePicked($event)" 
                class="ion-padding">
              </app-image-picker>
              <ion-label *ngIf="!imageIsValid" color="danger">
                <small>לא נבחרה תמונה!</small>
              </ion-label>
              </ion-col>
            </ion-row>
      
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-xl="6" size-lg="6" size-md="6" size-sm="3">
                <ion-list>
      
                  <ion-item class="ion-text-center">
                    <ion-label position="floating"> כותרת <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input
                      type="text"
                      ngModel
                      name="title"
                      required
                      #titleNameCtrl="ngModel"
                    ></ion-input>
                  </ion-item>
                <ion-label *ngIf="!titleNameCtrl.valid && titleNameCtrl.touched" color="danger">
                  <small>זהו שדה חובה!</small>
                </ion-label>
      
                  <ion-item class="ion-text-center">
                    <ion-label position="floating"> תת כותרת <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input
                      type="text"
                      ngModel
                      name="subtitle"
                      required
                      #subtitleCtrl="ngModel"
                    ></ion-input>
                  </ion-item>
                  <ion-label *ngIf="!subtitleCtrl.valid && subtitleCtrl.touched" color="danger">
                    <small>זהו שדה חובה!</small>
                  </ion-label>
      
                </ion-list>
      
              </ion-col>
      
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-xl="10" size-lg="8" size-md="6" size-sm="6">
                <ion-item lines="none">
                  <ion-button color="primary" fill="outline" (click)="onPickFile()">
                    <ion-icon src="../../../../assets/icon/folder-icon.svg" slot="start"></ion-icon>
                    <ion-label class="file-picker-label">בחר קובץ...</ion-label>
                  </ion-button>
                  <ion-label>
                    <ion-icon [ngClass]="fileTypeIcon"></ion-icon>
                    <p>{{ chosenFileName }}</p>
                  </ion-label>
                  <input #filePicker type="file" accept="application/pdf, application/msword" (change)="onFileChosen($event)"/>
                </ion-item>
              </ion-col>
            </ion-row>
      
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-xl="10" size-lg="8" size-md="6" size-sm="6">
                <angular-editor 
                [config]="editorConfig"
                (input)="getInput($event)"
                [(ngModel)]="htmlContent"
                [placeholder]="'גוף המאמר'"
                ngModel 
                name="body"
                ></angular-editor>
              </ion-col>
            </ion-row>
            <br>
            <br>
            <ion-row class="ion-justify-content-center">
              <ion-col size="2" size-md="3">
                <ion-button 
                color="primary" 
                expand="block"
                (click)="onCancel()"
                >ביטול </ion-button>
              </ion-col>
              <ion-col size="2" size-md="3">
                <ion-button
                  type="submit"
                  color="primary"
                  expand="block"
                  [disabled]="!f.valid"
                >הוסף</ion-button>
              </ion-col>
            </ion-row>
      
          </ion-grid>
      
        </form>
</ion-content>

