<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">קורסים</ion-title>
    <ion-icon class="toolbar-icon-online-course title-icon" slot="start"></ion-icon>
    <ion-buttons slot="primary">
      <ion-button routerLink="new">
        <ion-icon class="toolbar-icon-text-add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="4" class="ion-text-center">
        <ion-list>
          <div *ngFor="let course of courses">
            <!-- <ion-fab vertical="start" horizontal="start" slot="fixed" *ngIf="isArticleAuthor(course.authorId)" edge>
              <ion-fab-button>
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list>
                <ion-fab-button color="warning" [routerLink]="['/', 'course', 'edit', course.id]">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="danger" (click)="onDelete(course.id)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button color="light" [routerLink]="['/', 'course', course.id]">
                  <ion-icon name="logo-vimeo"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab> -->
            <app-course-item [course]="course" [routerLink]="['/', 'course', course.id]"></app-course-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
