.cover {
    --background: url("../../../../assets/background/backgColor.jpg") no-repeat top, #fff;
    background-size: 100% 40% !important;
    position: relative;
    height: 100%;
    width: 100%;
}

.address-picker {
    margin-top: 30px;
}