

.category-title {
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(223, 223, 223);
}

// .units-select {
//     width: 111px;
// }

ion-select {
    // border: 1px solid black;
    // border-radius: 4px;
    // padding-top: 4px;
    // padding-bottom: 3px;
    // background: lightgrey;
    width: 100%;
    justify-content: center;
}

.units-select-item {
    --background: lightgrey;
    --detail-icon-color: black;
    --background-hover-opacity: 0.2;
    --border-width: 1px;
    --border-radius: 5px;
    --border-color: black;
}

// .units-select-item::part(native) {
//     padding: 0;
// }

// .no-click {
//     pointer-events:none; //This makes it not clickable
//   }


ion-select::part(icon) {
    opacity: inherit;
}

.item-coupon-input {
    border: 1px solid black;
    border-radius: 7px;
}

.dotted-border-bottom {
    border-bottom: 1px dotted black;
    top: -8px;
}

.coupon-btn {
    top: -2px;
}