

.category-title {
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(194, 194, 194);
}

.units-select {
    width: 111px;
}

ion-select {
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 3px;
    background: gray;
    box-shadow: 2;
}

ion-select::part(icon) {
    opacity: inherit;
}