<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tabs/store" defaultHref="/tabs/store"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">עגלת קניות</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">

    <ion-row class="ion-no-padding ion-justify-content-center">
      <ion-col class="button tappable ion-text-right align-self-center category-title">פריטים בעגלה:</ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="12" size-xl="6" size-lg="4" size-md="3" size-sm="2"  class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size="12" size-xl="6" size-lg="4" size-md="3" size-sm="2" class="ion-text-right" *ngIf="!isLoading">
        <ion-list>
          <ion-item lines="inset" detail="false" *ngFor="let item of cart.items">
            <ion-thumbnail>
              <ion-img [src]="item?.thumbnail"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-padding">
              <h1>{{ item.name }}</h1>
              <ion-text color="medium">
                <p>{{ item.category }}</p>
              </ion-text>
            </ion-label>
            <div class="units-select ion-padding">
            <ion-label class="ion-text-center">
              <ion-text>
                {{ (item.price * item.units) | currency:'ILS' }}
              </ion-text>
            </ion-label>
            <app-number-picker 
            [initialNumber]="item.units" 
            [min]="1" [max]="10" 
            (numberPick)="onItemQuantityChange($event, item)"
            ></app-number-picker>
          </div>
        </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-justify-content-center">
      <ion-col class="button tappable ion-text-right align-self-center category-title">קופון:</ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col class="ion-padding">
        <ion-input class="item-coupon-input"></ion-input>
      </ion-col>
      <ion-col class="ion-padding coupon-btn">
        <ion-button color="primary" fill="outline">
          <ion-icon class="custom-coupons" slot="start"></ion-icon>
          <ion-label>הפעל קופון</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-justify-content-center">
      <ion-col class="button tappable ion-text-right align-self-center category-title">סיכום:</ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="auto" class="ion-text-right">
        <ion-label>סכום ביניים</ion-label>
      </ion-col>
      <ion-col class="dotted-border-bottom  ion-no-padding ion-text-right">
       
      </ion-col>
      <ion-col size="auto" class="ion-text-right">
        <ion-label>{{ summaryItems | currency:'ILS' }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="auto" class="ion-text-right">
        <ion-label>משלוח</ion-label>
      </ion-col>
      <ion-col class="dotted-border-bottom  ion-no-padding ion-text-right">
       
      </ion-col>
      <ion-col size="auto" class="ion-text-right">
        <ion-label>{{ shippingCost | currency:'ILS' }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="auto" class="ion-text-right">
        <ion-label>סה'כ לתשלום</ion-label>
      </ion-col>
      <ion-col class="dotted-border-bottom  ion-no-padding ion-text-right">
       
      </ion-col>
      <ion-col size="auto" class="ion-text-right">
        <ion-label>{{ summaryOrder | currency:'ILS' }}</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer class="add-participant-footer ion-no-padding">
  <ion-button expand="full" color="secondary" (click)="onDoneAdding()" class="ion-no-padding">
    <ion-icon class="custom-cashier" slot="start"></ion-icon>
    <ion-label>המשך לתשלום</ion-label>
  </ion-button>
</ion-footer>