

.category-title {
    font-family: 'Varela Round';
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(223, 223, 223);
}

// .units-select {
//     width: 111px;
// }

ion-select {
    // border: 1px solid black;
    // border-radius: 4px;
    // padding-top: 4px;
    // padding-bottom: 3px;
    // background: lightgrey;
    width: 100%;
    justify-content: center;
}

.item-price-label {
    font-family: 'Haim';
    font-size: medium;
} 


.cart-summary-price-label {
    font-family: 'Haim';
    font-size: medium;
}

.cart-summary-title-label {
    font-family: 'Yoav-bold';
    font-size: large;
}

.cart-activate-coupons-label{
    font-family: 'Yoav-bold';
    font-size: large;
}

.units-select-item {
    --background: lightgrey;
    --detail-icon-color: black;
    --background-hover-opacity: 0.2;
    --border-width: 1px;
    --border-radius: 5px;
    --border-color: black;
}

// .units-select-item::part(native) {
//     padding: 0;
// }

// .no-click {
//     pointer-events:none; //This makes it not clickable
//   }


ion-select::part(icon) {
    opacity: inherit;
}

.item-coupon-input {
    border: 1px solid var(--ion-color-primary);
    border-radius: 7px;
    text-transform: uppercase;
}

.dotted-border-bottom {
    border-bottom: 1px dotted black;
    top: -8px;
}

@media (max-width: 300px) {
    .scroll-left {
        height: 35px;	
        overflow: initial;
        position: relative;
       }
  }

  @media (max-width: 300px) {
    .scroll-left h1 {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        /* Starting position */
        -moz-transform:translateX(100%);
        -webkit-transform:translateX(100%);	
        transform:translateX(100%);
        /* Apply animation to this element */	
        -moz-animation: scroll-left 10s linear infinite;
        -webkit-animation: scroll-left 10s linear infinite;
        animation: scroll-left 10s linear infinite;
       }
  }

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
