<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      אלבומים
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="4" class="ion-text-center">
        <ion-list>
          <div *ngFor="let album of albums">
            <ion-item [routerLink]="" (click)="onSelectAlbum(album.id)">
              <ion-avatar slot="start">
                <ion-img [src]="album?.thumbnail"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{ album.title }}</h2>
                <ion-text color="medium">
                  <p>{{ album.date | date }}</p>
                </ion-text>
                <ion-text color="medium">
                  <p>מספר תמונות באלבום: {{ album.views }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

    <app-address-details-picker></app-address-details-picker>
    <!-- <app-address-finder></app-address-finder> -->

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" class="ion-text-center">
        <ngx-dropzone (change)="onFilesAdded($event)" class="dropzone" [expandable]="true">
          <ngx-dropzone-label>גרור קבצים לכאן...</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of files" [file]="file" [removable]="true" (removed)="onRemove(file)">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="6" class="ion-text-center">
        <ngx-image-gallery 
          [images]="galleryImages" 
          [conf]="conf"
          (onOpen)="galleryOpened($event)"
          (onClose)="galleryClosed()"
          (onImageClicked)="galleryImageClicked($event)"
          (onImageChange)="galleryImageChanged($event)"
          (onDelete)="deleteImage($event)"
        ></ngx-image-gallery>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="showPhotos">
      <ion-col size="12" size-sm="4" class="ion-text-center">
        <ion-list>
          <div *ngFor="let photo of selectedAlbum.photos">
            <ion-item [routerLink]="">
              <ion-avatar slot="start">
                <ion-img [src]="photo?.url"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{ photo.title }}</h2>
                <ion-text color="medium">
                  <p>{{ photo.date | date }}</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
