ion-avatar {
    width: 60px;
    height: 60px;
}

.dropzone {
    background: lightgray;
}

// ion-img {
//     width:100% !important;  
//     height : 100% !important;
//     max-width: 55px !important;
//     max-height: 55px !important;
// }

// ion-img img {
//     height: -webkit-fill-available;
// }