
.list-item-label {
    font-family: 'Yoav';
}

.title-label {
    font-family: 'Yoav-bold';
    font-size: large;
}

.list-item-label p {
    font-family: 'Yoav';
    font-size: medium;
    margin: 0px;
}

ion-thumbnail {
    border: 1px solid black;
    width: 70px;
    height: 70px;
}