.article-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: fill;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

// ion-item {
//     width: fit-content;
// }

ion-card-title {
    font-family: 'Yoav';
    color: var(--ion-color-dark);
}

ion-card-subtitle {
      font-family: 'Yoav';
      font-size: large;
}

ion-card-content {
    font-family: 'Yoav-bold';
    font-size: large;
}

p {
    font-size: large;
}

ion-label {
    font-family: 'Yoav-bold' !important;
}

.article-card {
    border: 1px solid black;
    --background: #e0e1e4;
    margin-left: auto;
    margin-right: auto;
}

ion-item::part(native){
    --inner-padding-end: 0;
}