<ion-item class="ion-text-center ion-no-padding">
  <ion-card class="article-card">
    <ion-card-header>
      <ion-card-title>{{ article.title}}</ion-card-title>
      <ion-card-subtitle>{{ article.subtitle }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="article.thumbnail" class="article-thumbnail"></ion-img>
      <p>נוסף בתאריך: {{ article.date | date }}</p>
      <ion-label>מחבר: {{ article.authorName }}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-item>