.item-thumbnail {
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    object-fit: contain;
    background: black;
}

.item-title {
    font-family: 'Varela Round';
    font-weight: bolder;
}