<ion-app>
  <ion-menu side="start" swipeGesture="false" contentId="content">
    <ion-menu-toggle auto-hide="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="app-titles">
          תפריט
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu-toggle>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" routerLink="/home">
            <ion-icon class="ion-no-margin menu-icon" size="large" name="home-outline" slot="start"></ion-icon>
            <ion-label class="app-side-menu-label">בית</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" routerLink="/event">
            <ion-icon class="ion-no-margin menu-icon" size="large" name="today-outline" slot="start"></ion-icon>
            <ion-label class="app-side-menu-label">אירועים</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" routerLink="/user">
            <ion-icon class="ion-no-margin menu-icon" size="large" name="people-outline" slot="start"></ion-icon>
            <ion-label class="app-side-menu-label">משתמשים</ion-label>
          </ion-item>
        </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" routerLink="/store">
          <ion-icon class="ion-no-margin menu-icon" size="large" name="pricetags-outline" slot="start"></ion-icon>
          <ion-label class="app-side-menu-label">חנות</ion-label>
        </ion-item>
      </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item lines="none" routerLink="/article">
        <ion-icon class="ion-no-margin menu-icon" size="large" name="newspaper-outline" slot="start"></ion-icon>
        <ion-label class="app-side-menu-label">מאמרים</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item lines="none" routerLink="/course">
        <ion-icon class="custom-online-course ion-no-margin menu-icon" size="large" slot="start"></ion-icon>
        <ion-label class="app-side-menu-label">קורסים</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item lines="none" routerLink="/manage">
        <ion-icon class="custom-management ion-no-margin menu-icon" size="large" slot="start"></ion-icon>
        <ion-label class="app-side-menu-label">כלי ניהול</ion-label>
      </ion-item>
    </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon class="ion-no-margin menu-icon" name="exit" slot="start"></ion-icon>
            <ion-label class="app-side-menu-label">התנתק</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>