<ion-header>
  <ion-toolbar>
    <ion-title class="app-titles">אימות</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="isLoading">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" >
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="verificationSuccess">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="7" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </svg>
        <p class="success">{{verificationMassage}}</p>
      </ion-col>

      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="!verificationSuccess">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#D06079" stroke-width="7" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <line class="path line" fill="none" stroke="#D06079" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
          <line class="path line" fill="none" stroke="#D06079" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
        </svg>
        <p class="error">{{verificationMassage}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" >
        <ion-button 
              class="authentication-button"
              type="submit"
              fill="clear"
              expand="block"
              (click)="onMoveToAuthPage()"
              >המשך להתחברות 
              <ion-icon slot="start" src="../../assets/icon/authentication.svg"></ion-icon>
              <ion-icon slot="end" size="small" name="arrow-forward"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
