

.view-participants {
    cursor: pointer;
}

.view-speaker {
    cursor: pointer;
}


app-speaker-item .view-speaker  :hover {
    --background: lightgray;
    background-color: lightgray;
}

ion-card-title {
    font-family: 'Yoav';
    font-size: xx-large;
}

ion-card-subtitle {
    font-family: 'Yoav';
    font-size: large;
}

.event-description {
    font-family: 'Yoav';
    font-size: large;
}