
.lesson-thumbnail-image {
    width: 66px;
    object-fit: fill;
}

// ion-label {
//     font-family: 'Petel-bold' !important;
// }
h2 {
    font-family: 'Petel-bold';
    font-size: larger;
}

h3 {
    font-family: 'Petel-bold';
    font-size: medium;
}

ion-text {
    font-family: 'Petel-bold';
}