.event-thumbnail {
    height: 200px;
    width: 100%;
    object-fit: contain;
    background: black;
}

.event-card {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    --background: #e0e1e4;
}

ion-card-title {
    font-family: 'Yoav';
    color: var(--ion-color-dark);
}

ion-card-subtitle {
      font-family: 'Yoav';
      font-size: large;
}

ion-card-content {
    font-family: 'Yoav-bold';
    font-size: large;
}

.btn-detail {
    font-family: 'Ktav-Yad-Bold';
}
ion-item::part(native){
    --inner-padding-end: 0;
}