<ion-item class="ion-text-center ion-no-padding">
<ion-card class="event-card">
  <ion-img [src]="event.thumbnail" class="event-thumbnail"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ event.title }}</ion-card-title>
    <ion-card-subtitle>{{ event.date | date }} - {{ event.placeName }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-text>{{ event.description }}</ion-text>
  </ion-card-content>
  
    <ion-button
      class="ion-no-margin ion-no-padding btn-detail"
      strong="true"
      size="default"
      fill="solid"
      expand="full"
      color="primary"
      [routerLink]="[ '/', 'event', event.id ]"
      >פרטים
    <ion-icon name="receipt-outline" slot="start"></ion-icon>
    </ion-button>
  
</ion-card>
</ion-item>