<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close(false)">
        <ion-icon slot="icon-only" name="close-outline" class="toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>עריכת משתמש</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="6">
          <app-image-picker 
          [selectedImage] = "this.user?.profilePicture"
          [showPreview]="true" 
          (imagePick)="onImagePicked($event)" 
          class="ion-padding"></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="8">
          <ion-list>
            <ion-item>
              <ion-label position="floating"> שם <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="firstName"
                required
                #firstNameCtrl="ngModel"
              ></ion-input>
              <ion-icon name="text-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
            *ngIf="!firstNameCtrl.valid && firstNameCtrl.touched"
            lines="none">
            <ion-label color="danger">
              זהו שדה חובה!
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label position="floating"> שם משפחה <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="lastName"
                required
                #lastNameCtrl="ngModel"
              ></ion-input>
              <ion-icon name="text-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
            *ngIf="!lastNameCtrl.valid && lastNameCtrl.touched"
            lines="none">
            <ion-label color="danger">
              זהו שדה חובה!
            </ion-label>
          </ion-item>
            <ion-item>
              <ion-label position="floating"> אימייל <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
              <ion-icon name="at" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none">
              <ion-label color="danger">
                כתובת המייל אינה תקינה!
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> מספר טלפון <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="tel"
                ngModel
                name="phone"
                minlength="10"
                maxlength="10"
                required
                tel
                #phoneCtrl="ngModel"
              ></ion-input>
              <ion-icon name="call-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
              *ngIf="!phoneCtrl.valid && phoneCtrl.touched"
              lines="none">
              <ion-label color="danger">
                זהו שדה חובה!
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">סיסמה<ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
              <ion-icon name="eye-off-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none">
              <ion-label color="danger">
                זהו שדה חובה!
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">תאריך לידה<ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime
              display-format="DD/MM/YYYY"
              pickerFormat="DD MMM YY"
              ngModel
              name="date"
              required
              #dateCtrl="ngModel"
            ></ion-datetime>
              <ion-icon name="calendar-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item
              *ngIf="!dateCtrl.valid && dateCtrl.touched"
              lines="none">
              <ion-label color="danger">
                זהו שדה חובה!
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="8" class="address-picker">
          <app-address-picker [address]="address" (addressPicked)="onAddressPicked($event)" [isEdit]="true"></app-address-picker>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="8">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
          ערוך
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

