<ion-header>
  <ion-toolbar>
    <ion-title class="app-titles">עריכת משתמש</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="2" size-lg="4" size-md="5" size-sm="6" size-xs="8">
          <app-image-picker 
          [selectedImage] = "this.user?.profilePicture"
          [showPreview]="true" 
          (imagePick)="onImagePicked($event)" 
          class="ion-padding"></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="5" size-md="6" size-sm="7" size-xs="10">
          <ion-list>

            <ion-item>
              <ion-label position="floating"> שם <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="firstName"
                required
                #firstNameCtrl="ngModel"
              ></ion-input>
              <ion-icon name="person-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!firstNameCtrl.valid && firstNameCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating"> שם משפחה <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="lastName"
                required
                #lastNameCtrl="ngModel"
              ></ion-input>
              <ion-icon  slot="end" position="floating" class="custom-group ion-align-self-center"></ion-icon>
            </ion-item>
          <ion-label *ngIf="!lastNameCtrl.valid && lastNameCtrl.touched" color="danger">
            <small> זהו שדה חובה!</small>
          </ion-label>

            <ion-item>
              <ion-label position="floating"> אימייל <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
              <ion-icon name="at" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched" color="danger">
              <small> כתובת המייל אינה תקינה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating"> מספר טלפון <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="tel"
                ngModel
                name="phone"
                minlength="10"
                maxlength="10"
                required
                tel
                #phoneCtrl="ngModel"
              ></ion-input>
              <ion-icon name="call-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!phoneCtrl.valid && phoneCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">סיסמה<ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                #password
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
              <ion-icon #passwordIcon (click)="togglePasswordVisibility(password, passwordIcon)" name="eye-off-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!passwordCtrl.valid && passwordCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">תאריך לידה<ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime
              display-format="DD/MM/YYYY"
              pickerFormat="DD MMM YYYY"
              monthNames="ינואר, פברואר, מרץ, אפריל, מאי, יוני, יולי, אוגוסט, ספטמבר, אוקטובר, נובמבר, דצמבר"
              monthShortNames="ינואר, פברואר, מרץ, אפריל, מאי, יוני, יולי, אוגוסט, ספטמבר, אוקטובר, נובמבר, דצמבר"
              ngModel
              name="date"
              doneText="אישור"
              cancelText="ביטול"
              mode="ios"
              required
              #dateCtrl="ngModel"
            ></ion-datetime>
              <ion-icon name="calendar-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!dateCtrl.valid && dateCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item lines="none" class="address-item">
              <div class="address">
                <div class="titlebox" size="large">כתובת <ion-text color="danger">*</ion-text></div>
                <ion-icon name="location-outline" size="large" class="ion-align-self-center titlebox-icon"></ion-icon>
                <div class="address-picker-div">
                  <app-address-form-picker [selectedAddress]="address" (isValid)="onAddressIsValid($event)" (addressPicked)="onAddressPicked($event)" [isEdit]="true"></app-address-form-picker>
                </div>
              </div>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="8" class="address-picker">
          <app-address-picker [address]="address" (addressPicked)="onAddressPicked($event)" (isValid)="onAddressIsValid($event)" [isEdit]="true"></app-address-picker>
        </ion-col>
      </ion-row> -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="1.5" size-lg="2.5" size-md="3" size-sm="3.5" size-xs="4">
          <ion-button
            class="app-submit-cancel-btn"
            color="primary"
            expand="block"
            (click)="onCancel()"
          >
          ביטול
          </ion-button>
        </ion-col>
        <ion-col size-xl="1.5" size-lg="2.5" size-md="3" size-sm="3.5" size-xs="4">
          <ion-button
            class="app-submit-cancel-btn"
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid || !addressIsValid"
          >
          עדכן
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
