
.add-treatment-item-label {
    font-family: 'Yoav';
    font-size: larger;
}

.selecte-therapist-button-label {
    font-family: 'Ktav-Yad-Bold' !important;
    padding: 5px 2px 5px 0px;
}

.therapist-name-label {
    font-family: 'Yoav';
    font-size: larger;
}