ion-select::part(icon) {
    width: 5px;
}

ngx-datatable {
    border: 1px solid lightgray;
}

.segment-label {
    font-family: 'Abraham';
    font-size: large;
}

ion-segment {
    background-color: lightgrey;
}

.filter-coupons-segment-button::part(indicator-background) {
    background-color: rgb(177, 199, 228);
}