<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding app-titles">עדכון מטפל</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="4">
          <app-image-picker 
          [selectedImage]="therapist?.profilePicture"
          [showPreview]="true" 
          (imagePick)="onImagePicked($event)" 
          class="ion-padding">
        </app-image-picker>
        <ion-label *ngIf="!imageIsValid" color="danger">
          <small>לא נבחרה תמונה!</small>
        </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="6">
          <ion-list>

            <ion-item>
              <ion-label position="floating"> שם <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="firstName"
                required
                #firstNameCtrl="ngModel"
              ></ion-input>
              <ion-icon slot="end" position="floating" class="custom-firstName ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!firstNameCtrl.valid && firstNameCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating"> שם משפחה <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="lastName"
                required
                #lastNameCtrl="ngModel"
              ></ion-input>
              <ion-icon name="text-outline" slot="end" position="floating" class="custom-lastName ion-align-self-center"></ion-icon>
            </ion-item>
          <ion-label *ngIf="!lastNameCtrl.valid && lastNameCtrl.touched" color="danger">
            <small> זהו שדה חובה!</small>
          </ion-label>

            <ion-item>
              <ion-label position="floating"> אימייל <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
              <ion-icon name="at" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched" color="danger">
              <small> כתובת המייל אינה תקינה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating"> מספר טלפון <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="tel"
                ngModel
                name="phone"
                minlength="10"
                maxlength="10"
                required
                tel
                #phoneCtrl="ngModel"
              ></ion-input>
              <ion-icon name="call-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!phoneCtrl.valid && phoneCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">סיסמה<ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                #password
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
              <ion-icon #passwordIcon (click)="togglePasswordVisibility(password, passwordIcon)" name="eye-off-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!passwordCtrl.valid && passwordCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">תאריך לידה<ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime
              display-format="DD/MM/YYYY"
              pickerFormat="DD MMM YYYY"
              monthNames="ינואר, פברואר, מרץ, אפריל, מאי, יוני, יולי, אוגוסט, ספטמבר, אוקטובר, נובמבר, דצמבר"
              monthShortNames="ינואר, פברואר, מרץ, אפריל, מאי, יוני, יולי, אוגוסט, ספטמבר, אוקטובר, נובמבר, דצמבר"
              ngModel
              doneText="אישור"
              cancelText="ביטול"
              mode="ios"
              name="date"
              required
              #dateOfBirthCtrl="ngModel"
            ></ion-datetime>
              <ion-icon name="calendar-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!dateOfBirthCtrl.valid && dateOfBirthCtrl.touched" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating">סוגי טיפול<ion-text color="danger">*</ion-text></ion-label>
              <ion-select mode="ios" [value]="this?.treatmentsTypes" keyboardClose="true" [interfaceOptions]="treatmentsTypesSelectOptions" multiple="true" (ionCancel)="onTreatmentsCancel()" (ionChange)="onTreatmentsChosen($event)" placeholder="בחר סוגי טיפול" cancelText="ביטול" okText="אישור">
                <ion-select-option [value]="typesOfTreatments.BOOKS">{{ typesOfTreatments.BOOKS }}</ion-select-option>
                <ion-select-option [value]="typesOfTreatments.TREATMENTS">{{ typesOfTreatments.TREATMENTS }}</ion-select-option>
                <ion-select-option [value]="typesOfTreatments.CONFERENCES">{{ typesOfTreatments.CONFERENCES }}</ion-select-option>
                <ion-select-option [value]="typesOfTreatments.COURSES">{{ typesOfTreatments.COURSES }}</ion-select-option>
                <ion-select-option [value]="typesOfTreatments.ARTICLES">{{ typesOfTreatments.ARTICLES }}</ion-select-option>
                <ion-select-option [value]="typesOfTreatments.ACCESSORIES">{{ typesOfTreatments.ACCESSORIES }}</ion-select-option>
                <ion-select-option [value]="typesOfTreatments.OTHER">{{ typesOfTreatments.OTHER }}</ion-select-option>
              </ion-select>
              <ion-icon slot="end" position="floating" class="custom-brain-treatment ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="treatmentsTypesValid" color="danger">
              <small> זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label position="floating"> נסיון <ion-text color="danger">*</ion-text></ion-label>
              <ion-textarea 
                type="text"
                ngModel
                name="resume"
                required
                #resumeCtrl="ngModel"
              ></ion-textarea>
              <ion-icon slot="end" position="floating" class="custom-resume ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-label *ngIf="!resumeCtrl.valid && resumeCtrl.touched" color="danger">
              <small>זהו שדה חובה!</small>
            </ion-label>

            <ion-item>
              <ion-label>הרשאת מנהל?</ion-label>
              <ion-checkbox mode="ios" value="false" slot="end" ngModel name="admin" [(ngModel)]="admin" #adminCtrl="ngModel"></ion-checkbox>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="6" class="address-picker">
          <app-address-picker [address]="this?.address" (isValid)="onAddressIsValid($event)" (addressPicked)="onAddressPicked($event)" [isEdit]="true"></app-address-picker>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="3">
          <ion-button 
          color="primary"
          expand="block"
          (click)="onCancel()"
          >ביטול</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid || !addressIsValid"
          >
          עדכן
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
