<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'tabs', 'course']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">שיעור</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<!------------------------------------------lesson section -------------------------------------------->
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngIf="isLoading">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center">
        <div class="course-container ion-padding">
        <ion-text>
          <h1 class="ion-no-margin">{{ lesson?.title }}</h1>
        </ion-text>
        <ion-text>
          <h5 class="ion-margin-top">{{ lesson?.description }}</h5>
        </ion-text>
        <ion-text  class="ion-no-padding">
          <p class="article-author-date"> {{ lesson?.date | date  }}</p>
        </ion-text>
      </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="!isLoading && !isMobile">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="10" class="ion-text-center">
        <vm-player 
        theme="dark"
        style="--vm-player-theme: #5396e2;"
    >
    <!-- <vm-vimeo cookies="true" video-id="336812660"></vm-vimeo> -->
    
    <vm-youtube cookies="false" poster="https://www.youtube.com/watch?v=SLD9xzJ4oeU" video-id="SLD9xzJ4oeU" autoplay="false"></vm-youtube>
        <!-- <vm-video
        cross-origin="true"
        [poster]="lesson?.thumbnail"
      >
        <source 
        data-src="https://www.youtube.com/watch?v=SLD9xzJ4oeU" 
          type="youtube"
        />
        <track 
          default 
          kind="subtitles" 
          src="https://media.vimejs.com/subs/english.vtt" 
          srclang="en" 
          label="English" 
        />
      </vm-video> -->
      
      <vm-default-ui></vm-default-ui>
      </vm-player>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="!isLoading && isMobile">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="10" class="ion-text-center">
        <div class="video-player">
          <ion-img
            role="button"
            class="image"
            (click)="onPlayVideo()"
            [src]="getVideoThumbnail()"
          ></ion-img>
          <ion-button fill="clear" class="play-btn" (click)="onPlayVideo()">
            <ion-icon name="logo-youtube" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
