<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'tabs', 'course']"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">שיעור</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
<!------------------------------------------lesson section -------------------------------------------->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="!isLoading">
        <div class="course-container ion-padding">
        <ion-text>
          <h1 class="ion-no-margin">{{ lesson?.title }}</h1>
        </ion-text>
        <ion-text>
          <h5 class="ion-margin-top">{{ lesson?.description }}</h5>
        </ion-text>
        <ion-text  class="ion-no-padding">
          <p class="article-author-date"> {{ lesson?.date | date  }}</p>
        </ion-text>
      </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="!isLoading && !isMobile">
      <div id="video-player"></div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="10" class="ion-text-center" *ngIf="!isLoading && isMobile">
        <div class="video-player">
          <ion-img
            role="button"
            class="image"
            (click)="onPlayVideo()"
            [src]="getVideoThumbnail()"
          ></ion-img>
          <ion-button fill="clear" class="play-btn" (click)="onPlayVideo()">
            <ion-icon name="logo-youtube" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
