<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">אירועים</ion-title>
    <ion-icon class="title-icon" slot="start" name="today-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-xl="4" size-lg="4" size-md="4" size-sm="4" class="ion-text-center">
        <ion-list>
          <div *ngFor="let event of events">
            <app-event-item [event]="event"></app-event-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
