
ion-segment-button {
    font-size: large;
    font-weight: bold;
}

.add-item-footer {
    background-color: lightgrey;
}

.treatment-card {
    border: 1px solid black;
    background: rgb(248, 244, 244);
}

.treatment-thumbnail {
    height: 200px;
    width: 100%;
    object-fit: contain;
    background: black;
}

.event-card {
    border: 1px solid black;
    background: rgb(248, 244, 244);
}

.event-thumbnail {
    height: 200px;
    width: 100%;
    object-fit: contain;
    background: black;
}

.course-thumbnail {
    height: 200px;
    object-fit: contain;
    background: black;
}

.course-card {
    border: 1px solid black;
}

.article-thumbnail {
    height: 200px;
    object-fit: contain;
    background: black;
}

.article-card {
    border: 1px solid black;
    // background-color: #e8e8e8;
    // width: -webkit-fill-available;
    // margin-left: auto;
    // margin-right: auto;
}

ion-item::part(native){
    --inner-padding-end: 0;
}

.treatment-therapist-item{
    --background: lightgray;
}

ion-slides {
    height: 100%;
}
