<ion-header>
  <ion-toolbar>
    <ion-title>הוספת מוצר</ion-title>
  </ion-toolbar>
  <ion-segment #categorySegment (ionChange)="onCategoryChosen($event)" [value]="categories.BOOKS" class="add-participant-segment">
    <ion-segment-button [value]="categories.BOOKS">{{ categories.BOOKS }}</ion-segment-button>
    <ion-segment-button [value]="categories.TREATMENTS">{{ categories.TREATMENTS }}</ion-segment-button>
    <ion-segment-button [value]="categories.CONFERENCES">{{ categories.CONFERENCES }}</ion-segment-button>
    <ion-segment-button [value]="categories.COURSES">{{ categories.COURSES }}</ion-segment-button>
    <ion-segment-button [value]="categories.ARTICLES">{{ categories.ARTICLES }}</ion-segment-button>
    <ion-segment-button [value]="categories.ACCESSORIES">{{ categories.ACCESSORIES }}</ion-segment-button>
    <ion-segment-button [value]="categories.OTHER">{{ categories.OTHER }}</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div id="wrapper">
  <ion-slides #addItemSlides [options]="slideOpts" (ionSlideDidChange)="onSlideChange(addItemSlides)">
        <!------------------------------------- Add New Form Slide ----------------------------------------------->
        <ion-slide class="slide-step form-slide">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-grid>
    
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" size-sm="10">
                  <app-image-picker 
                  [selectedImage]="this?.selectedThumbnail"
                  [showPreview]="isImageselected" 
                  (imagePick)="onImagePicked($event)" 
                  class="ion-padding">
                </app-image-picker>
                </ion-col>
              </ion-row>
    
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" size-sm="10">
                  <ion-list>
    
                    <ion-item>
                      <ion-label position="floating"> שם המוצר <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input
                        type="text"
                        ngModel
                        name="name"
                        required
                        #nameCtrl="ngModel"
                      ></ion-input>
                      <ion-icon name="text-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
                    </ion-item>
                    <ion-item
                    *ngIf="!nameCtrl.valid && nameCtrl.touched"
                    lines="none">
                    <ion-label color="danger">
                      זהו שדה חובה!
                    </ion-label>
                  </ion-item>
    
                    <ion-item>
                      <ion-label position="floating"> תיאור המוצר <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input
                        type="text"
                        ngModel
                        name="description"
                        required
                        #descriptionCtrl="ngModel"
                      ></ion-input>
                      <ion-icon  slot="end" position="floating" class="custom-product-description"></ion-icon>
                    </ion-item>
                    <ion-item
                    *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched"
                    lines="none">
                    <ion-label color="danger">
                      זהו שדה חובה!
                    </ion-label>
                  </ion-item>
    
                    <ion-item>
                      <ion-label position="floating"> מחיר <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input
                        #price
                        type="number"
                        inputmode="numeric"
                        [ngModel]='amount'
                        (ionBlur)="getPrice(price)"
                        (ionFocus)="setPrice(price)"
                        name="price"
                        value="string"
                        [placeholder]="getCurrency(0)"
                        required
                        #priceCtrl="ngModel"
                      ></ion-input>
                      <ion-icon name="cash-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
                    </ion-item>
                    <ion-item
                      *ngIf="!priceCtrl.valid && priceCtrl.touched"
                      lines="none">
                      <ion-label color="danger">
                        זהו שדה חובה!
                      </ion-label>
                    </ion-item>
    
                    <ion-item>
                      <ion-label position="floating"> כמות <ion-text color="danger">*</ion-text></ion-label>
                      <ion-input
                        type="number"
                        ngModel
                        name="quantity"
                        required
                        #quantityCtrl="ngModel"
                      ></ion-input>
                      <ion-icon slot="end" position="floating" class="custom-packages"></ion-icon>
                    </ion-item>
                    <ion-item
                      *ngIf="!quantityCtrl.valid && quantityCtrl.touched"
                      lines="none">
                      <ion-label color="danger">
                        זהו שדה חובה!
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
    
            </ion-grid>
          </form>
        </ion-slide>
            <!------------------------------------- Add TREATMENTS List Slide ----------------------------------------------->
            <ion-slide class="slide-step">
              <!-- <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="12" size-sm="10" *ngIf=isEvent>
                  <ion-virtual-scroll
                  [items]="events"
                  approxItemHeight="60px"
                >
                <ion-item class="ion-text-center ion-no-padding" *virtualItem="let event" (click)="onAddEventItem(event)">
                    <ion-card class="event-card">
                      <ion-img [src]="event.thumbnail"></ion-img>
                      <ion-card-header>
                        <ion-card-title>{{ event.title }}</ion-card-title>
                        <ion-card-subtitle>{{ event.date | date }} - {{ event.placeName }}</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        <p>{{ event.description }}</p>
                      </ion-card-content>
                    </ion-card>
                </ion-item>
                </ion-virtual-scroll>
                </ion-col>
              </ion-row>
            </ion-grid> -->
            </ion-slide>
    <!------------------------------------- Add event List Slide ----------------------------------------------->
        <ion-slide class="slide-step">
          <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="4" *ngIf="isEvent">
              <ion-virtual-scroll
              [items]="events"
              approxItemHeight="200px"
            >
            <ion-item class="ion-text-center ion-no-padding" *virtualItem="let event" (click)="onAddEventItem(event)">
                <ion-card class="event-card">
                  <ion-img [src]="event.thumbnail" class="event-thumbnail"></ion-img>
                  <ion-card-header>
                    <ion-card-title>{{ event.title }}</ion-card-title>
                    <ion-card-subtitle>{{ event.date | date }} - {{ event.placeName }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <p>{{ event.description }}</p>
                  </ion-card-content>
                </ion-card>
            </ion-item>
            </ion-virtual-scroll>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-slide>
    <!------------------------------------- Add course List Slide ----------------------------------------------->
    <ion-slide class="slide-step">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="4" *ngIf="isCourse">
            <ion-virtual-scroll
            [items]="courses"
            approxItemHeight="100px"
          >
          <ion-item class="ion-text-center ion-no-padding" *virtualItem="let course" (click)="onAddCourseItem(course)">
            <ion-card class="course-card">
              <ion-card-header>
                <ion-card-title>{{ course.title}}</ion-card-title>
                <ion-card-subtitle>{{ course.description }}</ion-card-subtitle>
              </ion-card-header>
              <ion-img [src]="course.thumbnail" class="course-thumbnail"></ion-img>
              <ion-card-content>
                <ion-label>מחבר: {{ course.authorName }}</ion-label>
                <p>נוסף בתאריך: {{ course.date | date }}</p>
                <p>מספר שיעורים: {{ course.courseLessons }}</p>
              </ion-card-content>
            </ion-card>
          </ion-item>
          </ion-virtual-scroll>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
        <!------------------------------------- Add article List Slide ----------------------------------------------->
        <ion-slide class="slide-step">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-md="4" *ngIf="isArticle">
                <ion-virtual-scroll
                [items]="articles"
                approxItemHeight="100px"
              >
              <ion-item class="ion-text-center ion-no-padding" *virtualItem="let article" (click)="onAddArticleItem(article)">
                <ion-card class="article-card">
                  <ion-card-header>
                    <ion-card-title>{{ article.title}}</ion-card-title>
                    <ion-card-subtitle>{{ article.subtitle }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-img [src]="article.thumbnail" class="article-thumbnail"></ion-img>
                    <p>נוסף בתאריך: {{ article.date | date }}</p>
                    <ion-label>מחבר: {{ article.authorName }}</ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-item>
              </ion-virtual-scroll>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
    
      </ion-slides>
    </div>
</ion-content>

<ion-footer class="add-item-footer">
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="2" class="ion-text-center">
      <ion-button color="primary" fill="outline" (click)="onCancel()">
        <ion-label>ביטול</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size-sm="2" class="ion-text-center">
      <ion-button color="primary" fill="outline" (click)="onDoneAdding()">
        <ion-label>שמור</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>