
.view-speaker-footer {
    background:  lightgray;
}

.speaker-image {
    height: 350px;
    object-fit: fill
}

ion-card-title {
    font-family: 'Yoav';
    font-size: xx-large;
}

p {
    font-family: 'Yoav';
    font-size: large;
}