<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline" class="toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding app-titles">פרטי נואם</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card class="event-card ion-text-center">
      <ion-img [src]="speaker.picture" class="speaker-image"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ getName() }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ speaker.description }}</p>
      </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer class="view-speaker-footer">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="6" class="ion-text-center">
      <ion-button color="primary" fill="outline" (click)="close()">
        <ion-label>סגור</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>