
ion-card-title {
    font-family: 'Yoav';
    font-size: x-large;
}

ion-card-subtitle {
    font-family: 'Yoav';
    font-size: large;
}

.treatment-description-text {
    font-family: 'Yoav';
    font-size: large;
    color: black;
}

p {
    font-size: medium;
}