.email-input {
    border: 1px solid var(--ion-color-primary);
    border-radius: 7px;
}

.email-input-value {
  font-family: cursive;
}

.email-input-value-placeholder {
  font-family: 'Choco';
    font-size: large;
}

.reset-password-title {
  font-family: 'Choco';
  font-size: x-large;
}

.icon-btn {
    border-left: 1px solid var(--ion-color-primary);
    background: lightgrey;
    color: black;
    border-radius: 0px 7px 7px 0px;
}

.reset-btn {
    --border-radius: 7px;
    --border-width: 1px;
}

.reset-btn-label{
    font-family: 'Choco';
    font-size: large;
    font-weight: bold;
}


.authentication-button {
    font-family: 'Ktav-Yad-Medium';
    font-size: larger;
  }
  
  svg {
      width: 100px;
      display: block;
      margin: 40px auto 0;
    }
     
    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;
      &.circle {
        -webkit-animation: dash 3s ease-in-out;
        animation: dash 3s ease-in-out;
      }
      &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash 4s 1.5s ease-in-out forwards;
        animation: dash 4s 1.5s ease-in-out forwards;
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check 4s 1.5s ease-in-out forwards;
        animation: dash-check 4s 1.5s ease-in-out forwards;
      }
    }
     
    p {
      text-align: center;
      margin: 20px 0 60px;
      font-size: 1.25em;
      &.success {
        color: #73AF55;
      }
      &.error {
        color: #D06079;
      }
    }
     
     
    @-webkit-keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
     
    @keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
     
    @-webkit-keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }
     
    @keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }