<ion-header>
  <ion-toolbar>
    <ion-title class="app-titles ion-align-self-center">איפוס סיסמה</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'auth']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="auto">
         <ion-spinner *ngIf="retrieveData"></ion-spinner>
        </ion-col>
        <ion-col size-xl="3" size-lg="5" size-md="7" size-sm="8">
          <ion-input
            class="email-input ion-no-padding ion-padding-start"
            type="email"
            placeholder="הכנס כתובת מייל"
            ngModel
            name="email"
            required
            email="true"
            (ionBlur)="onVerifyEmail($event)"
            pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{3,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
            #emailCtrl="ngModel"
        ><ion-button fill="clear" class="icon-btn ion-no-margin" disabled="true">
          <ion-icon name="at" slot="icon-only" class="ion-align-self-center"></ion-icon>
        </ion-button>
      </ion-input>
        </ion-col>
        <ion-col size-xl="2" size-lg="3" size-md="4" size-sm="6">
          <ion-button class="reset-btn" color="primary" (click)="onResetPassword()">
            <ion-label class="cart-activate-coupons-label">איפוס</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-label class="ion-padding-start" *ngIf="!emailCtrl.valid && emailCtrl.touched || !emailIsValid" color="danger">
        <small>{{ emailErrorLabel }}</small>
      </ion-label>
    </ion-grid>
</ion-content>
