<ion-header>
  <ion-toolbar>
    <ion-title class="app-titles ion-align-self-center">איפוס סיסמה</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'auth']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <h1 class="reset-password-title">איפוס סיסמת משתמש</h1>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top">
        <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6">
          <ion-input
            class="email-input ion-no-padding ion-padding-start"
            type="email"
            placeholder="הכנס כתובת מייל"
            [(ngModel)]="userEmail"
            [disabled]="didReset"
            name="email"
            clear-input="true"
            required
            email="true"
            (ionFocus)="onFocusEmail()"
            pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{3,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
            #emailCtrl="ngModel"
            [ngClass]="userEmail.length > 0 ? 'email-input-value' : 'email-input-value-placeholder'"
        ><ion-button fill="clear" class="icon-btn ion-no-margin" disabled="true">
          <ion-icon name="at" slot="icon-only" class="ion-align-self-center"></ion-icon>
        </ion-button>
      </ion-input>
        </ion-col>
        <ion-col size="auto">
          <ion-spinner *ngIf="retrieveData"></ion-spinner>
         </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched && !emailCtrl.disabled || !emailIsValid" color="danger">
          <small>{{ emailErrorLabel }}</small>
        </ion-label>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top">
        <ion-col size="auto">
          <ion-button class="reset-btn" [disabled]="!emailCtrl.valid || !emailIsValid || didReset" color="primary" (click)="onResetPassword()">
            <ion-label class="reset-btn-label">אפס סיסמה</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-justify-content-center" *ngIf="didReset">
        <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="resetSuccess">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="7" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
          </svg>
          <p class="success">{{resetMassage}}</p>
        </ion-col>
  
        <ion-col size-xl="4" size-lg="5" size-md="6" size-sm="7" class="ion-text-center" *ngIf="!resetSuccess">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
            <circle class="path circle" fill="none" stroke="#D06079" stroke-width="7" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
            <line class="path line" fill="none" stroke="#D06079" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
            <line class="path line" fill="none" stroke="#D06079" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
          </svg>
          <p class="error">{{resetMassage}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
