<ion-header>
  <ion-toolbar>
    <ion-title>הוסף אירוע</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="4">
          <ion-list>
            
            <ion-item>
              <ion-label position="floating"> כותרת <ion-text color="danger">*</ion-text></ion-label>
              <ion-input
                type="text"
                ngModel
                name="title"
                required
                #titleCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
            *ngIf="!titleCtrl.valid && titleCtrl.touched"
            lines="none">
            <ion-label color="danger">
              זהו שדה חובה!
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> תאור <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea 
              type="text"
              ngModel
              name="description"
              required
              #descriptionCtrl="ngModel"
            ></ion-textarea>
          </ion-item>
          <ion-item
          *ngIf="!descriptionCtrl.valid && descriptionCtrl.touched"
          lines="none">
          <ion-label color="danger">
            זהו שדה חובה!
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">תאריך<ion-text color="danger">*</ion-text></ion-label>
            <ion-datetime
              display-format="DD/MM/YYYY"
              pickerFormat="DD MMM YYYY"
              monthNames="ינואר, פברואר, מרץ, אפריל, מאי, יוני, יולי, אוגוסט, ספטמבר, אוקטובר, נובמבר, דצמבר"
              monthShortNames="ינואר, פברואר, מרץ, אפריל, מאי, יוני, יולי, אוגוסט, ספטמבר, אוקטובר, נובמבר, דצמבר"
              ngModel
              max="2025-12-29"
              [min]="now"
              [value]="date"
              [pickerOptions]="pickerOptions"
              name="date"
              required
              #dateCtrl="ngModel"
            ></ion-datetime>
              <ion-icon name="calendar-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-item *ngIf="!dateCtrl.valid && dateCtrl.touched" lines="none">
          <ion-label color="danger">
                זהו שדה חובה!
          </ion-label>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">שעת התחלה<ion-text color="danger">*</ion-text></ion-label>
                <ion-datetime
                  [disabled]="!dateCtrl.touched || !dateCtrl.valid"
                  display-format="HH:mm"
                  pickerFormat="HH:mm"
                  ngModel
                  [value]="beginsAt"
                  [pickerOptions]="beginsAtpickerOptions"
                  name="beginsAt"
                  required
                  #beginsAtCtrl="ngModel"
                ></ion-datetime>
                  <ion-icon name="time-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item *ngIf="!beginsAtCtrl.valid && beginsAtCtrl.touched" lines="none">
              <ion-label color="danger">
                    זהו שדה חובה!
              </ion-label>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label position="floating">שעת סיום<ion-text color="danger">*</ion-text></ion-label>
                <ion-datetime
                  [disabled]="!dateCtrl.touched || !dateCtrl.valid"
                  display-format="HH:mm"
                  pickerFormat="HH:mm"
                  ngModel
                  [value]="endsAt"
                  [pickerOptions]="endsAtpickerOptions"
                  name="endsAt"
                  required
                  #endsAtCtrl="ngModel"
                ></ion-datetime>
                  <ion-icon name="time" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
            </ion-item>
            <ion-item *ngIf="!endsAtCtrl.valid && endsAtCtrl.touched" lines="none">
              <ion-label color="danger">
                    זהו שדה חובה!
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label position="floating"> מספר משתתפים <ion-text color="danger">*</ion-text></ion-label>
          <ion-input
            type="number"
            ngModel
            name="maxCapacity"
            required
            #maxCapacityCtrl="ngModel"
          ></ion-input>
          <ion-icon name="people-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-item
        *ngIf="!maxCapacityCtrl.valid && maxCapacityCtrl.touched"
        lines="none">
        <ion-label color="danger">
          זהו שדה חובה!
        </ion-label>
      </ion-item>

        <ion-item>
          <ion-label position="floating"> מקום <ion-text color="danger">*</ion-text></ion-label>
          <ion-input
            type="text"
            ngModel
            name="placeName"
            required
            #placeCtrl="ngModel"
          ></ion-input>
          <ion-icon name="business-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
        <ion-item
        *ngIf="!placeCtrl.valid && placeCtrl.touched"
        lines="none">
        <ion-label color="danger">
          זהו שדה חובה!
        </ion-label>
      </ion-item>

      </ion-list>

      <div class="address-picker">
        <app-address-picker (addressPicked)="onAddressPicked($event)"></app-address-picker>
      </div>
      
        </ion-col>

        <ion-col size="12" size="4">
          <app-image-picker 
          [showPreview]="this.file" 
          (imagePick)="onImagePicked($event)" 
          class="ion-padding">
        </app-image-picker>

        <ion-item lines="none">
          <ion-icon name="mic-outline" slot="end"></ion-icon>
          <ion-label class="ion-padding-start"> <strong>נואמים: </strong></ion-label>
        </ion-item>

        <ion-list class="add-speaker-list" *ngIf="speakers !== null">
          <div *ngFor="let speaker of speakers">
            <ion-item>
              <ion-avatar size="medium" slot="start">
                <ion-img [src]="speaker.picture"></ion-img>
              </ion-avatar>
              <ion-label><strong>
                {{ getName(speaker) }}
              </strong>
              </ion-label>
            </ion-item>
          </div>
          <ion-item>
            <div style="padding: 5px 10px">
              <ion-button (click)="onAddSpeaker()">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>הוסף נואם</ion-label>
              </ion-button>
              </div>
          </ion-item>
        </ion-list>
        </ion-col>

      </ion-row>
      <br>
      <br>
      <br>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size="4">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
          הוסף
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
