
.add-update-item-label {
    font-family: 'Yoav';
    font-size: larger;
}

.selecte-update-button-label {
    font-family: 'Ktav-Yad-Bold' !important;
    padding: 2px 2px 0px 0px;
}

.therapist-name-label {
    font-family: 'Yoav';
    font-size: larger;
}