<ion-grid [fixed]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ejs-autocomplete 
      #cityInput
      class="city-input ion-no-padding"
      id="atcelement" 
      FilterType="StartsWith"
      enableRtl="true"
      (filtering)="onFilteringCity($event)"
      placeholder="הקלד שם של עיר"
      [autofill]="true"
      (select)='onSelectedCity($event)'
      [(value)]='selectedAddress.city'
      ></ejs-autocomplete>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ejs-autocomplete 
      [enabled]="enableStreetPicker"
      #streetInput
      class="city-input ion-no-padding"
      id="atcelement" 
      FilterType="StartsWith"
      enableRtl="true"
      (filtering)="onFilteringStreet($event)"
      placeholder="הקלד שם של רחוב"
      [autofill]="true"
      (select)='onSelectedStreet($event)'
      [(value)]='selectedAddress.street'
      ></ejs-autocomplete>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">

    <ion-col>
      <ion-input 
      [disabled]="disableHouseNumberPicker"
      placeholder="בחר מספר בית"
      class="item-border-input ion-no-padding"
      #houseNumberComponent 
      type="number" 
      [(ngModel)]="this.selectedAddress.houseNumber" 
      #houseNumberCtrl="ngModel"
      required 
      (click)="onSelecteHouseNumber()">
    </ion-input>
    </ion-col>

    <ion-col>
      <ion-input 
      [disabled]="disableHouseNumberPicker"
      placeholder="בחר מספר דירה"
      class="item-border-input ion-no-padding"
      #apartmentComponent 
      type="number" 
      [(ngModel)]="this.selectedAddress.apartment" 
      #apartmentCtrl="ngModel"
      required 
      (click)="onSelecteApartment()">
    </ion-input>
    </ion-col>

    <ion-col>
      <ion-input 
      [disabled]="disableHouseNumberPicker"
      placeholder="כניסה"
      class="item-border-input ion-no-padding"
      #entryComponent 
      type="text" 
      [(ngModel)]="this.selectedAddress.entry" 
      #entryCtrl="ngModel"
      required 
      (ionChange)="onSelecteEntry($event)"
      >
    </ion-input>
    <p>{{ selectedAddress.zipCode}}</p>
    </ion-col>

  </ion-row>
</ion-grid>