
.input-item {
    border: 1px solid black;
    border-radius: 7px;
}

.city-options {
    border: 1px solid black;
}

option::-webkit-search-results-decoration {
    background: blue;
  }

.city-input {
    font-family: 'Yoav-bold';
    font-size: large;
}  

.item-border-input {
    border: 1px solid black;
    border-radius: 7px;
    font-family: 'Yoav-bold';
    font-size: large;
    padding: 6px !important;
    background: white;
}

span {
    background: white;
}

input {
    font-family: 'Yoav-bold';
    font-size: large;
}