<ion-grid [fixed]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ejs-autocomplete 
      #cityInput
      class="city-input"
      id="atcelement" 
      FilterType="StartsWith"
      enableRtl="true"
      (filtering)="onFilteringCity($event)"
      placeholder="הקלד שם של עיר"
      [autofill]="true"
      (select)='onSelectedCity($event)'
      ></ejs-autocomplete>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ejs-autocomplete 
      #streetInput
      class="city-input"
      id="atcelement" 
      FilterType="StartsWith"
      enableRtl="true"
      (filtering)="onFilteringStreet($event)"
      placeholder="הקלד שם של רחוב"
      [autofill]="true"
      (select)='onSelectedStreet($event)'
      ></ejs-autocomplete>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-input 
      placeholder="בחר מספר בית"
      class="item-border-input"
      [disabled]="false" 
      #houseNumberComponent 
      type="number" 
      [(ngModel)]="this.selectedAddress.houseNumber" 
      #houseNumberCtrl="ngModel"
      required 
      (click)="onSelecteHouseNumber()">
    </ion-input>
    </ion-col>
    <ion-col>
      <ion-input 
      placeholder="בחר מספר דירה"
      class="item-border-input"
      [disabled]="false" 
      #apartmentComponent 
      type="number" 
      [(ngModel)]="this.selectedAddress.houseNumber" 
      #apartmentCtrl="ngModel"
      required 
      (click)="onSelecteHouseNumber()">
    </ion-input>
    </ion-col>
    <ion-col>
      <ion-input 
      placeholder="כניסה"
      class="item-border-input"
      [disabled]="false" 
      #entryComponent 
      type="text" 
      [(ngModel)]="this.selectedAddress.houseNumber" 
      #entryCtrl="ngModel"
      required 
      >
    </ion-input>
    </ion-col>
  </ion-row>
</ion-grid>