/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-dark);
}

ion-back-button {
  color: black;
}

ion-tab-bar{
    --background: rgb(234, 244, 245);
}

.add-participant-modal {
  --width: 700px !important;
  --height: 900px !important;
}

.add-speaker-modal {
  --width: 700px;
  --height: 800px;
}

.view-participant-modal {
  --width: 600px;
  --height: 830px;
}

.view-speaker-modal {
  --width: 500px;
  --height: 600px;
}

// #youtube-player {
//   box-sizing: border-box;
//   border-width: 50px;
//   border-image: url(assets/background/screen.png) 50 stretch;
// }

#youtube-player {
  border-radius: 4px;
    margin-top: 46px;
}

.title-icon {
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
}

.toast-scheme {
  text-align: center;
  font-size: large;
}

.toolbar-icon {
  color: black;
}

// .swiper-wrapper {
//   transform: translate3d(-7.5px, 0px, 0px) !important;
// }

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }

    &[class*="icon-size-large"] {
      font-size: x-large;
    }

    &[class*="icon-vertical-line"] {
      padding-left: 4px;
      border-left: 1px solid rgb(104, 100, 100);
    }

    &[class*="toolbar-icon-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: black;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-waze"] {
      mask-image: url(./assets/icon/waze.svg);
    }
  
    &[class*="toolbar-icon-waze"] {
      mask-image: url(./assets/icon/waze.svg);
    }

    &[class*="custom-text-add"] {
      mask-image: url(./assets/icon/text-add.svg);
    }

    &[class*="toolbar-icon-text-add"] {
      mask-image: url(./assets/icon/text-add.svg);
    }

    &[class*="custom-online-learning"] {
      mask-image: url(./assets/icon/online-learning.svg);
    }

    &[class*="toolbar-icon-online-learning"] {
      mask-image: url(./assets/icon/online-learning.svg);
    }

    &[class*="custom-online-course"] {
      mask-image: url(./assets/icon/online-course.svg);
    }

    &[class*="toolbar-icon-online-course"] {
      mask-image: url(./assets/icon/online-course.svg);
    }

    &[class*="custom-training"] {
      mask-image: url(./assets/icon/training.svg);
    }

    &[class*="toolbar-icon-training"] {
      mask-image: url(./assets/icon/training.svg);
    }

    &[class*="custom-conference"] {
      mask-image: url(./assets/icon/conference.svg);
    }

    &[class*="toolbar-icon-conference"] {
      mask-image: url(./assets/icon/conference.svg);
    }

    &[class*="custom-management"] {
      mask-image: url(./assets/icon/management.svg);
    }

    &[class*="toolbar-icon-management"] {
      mask-image: url(./assets/icon/management.svg);
    }

    &[class*="custom-employees"] {
      mask-image: url(./assets/icon/employees.svg);
    }

    &[class*="toolbar-icon-employees"] {
      mask-image: url(./assets/icon/employees.svg);
    }

    &[class*="custom-calendar-event"] {
      mask-image: url(./assets/icon/calendar-event.svg);
    }

    &[class*="toolbar-icon-calendar-event"] {
      mask-image: url(./assets/icon/calendar-event.svg);
    }

    &[class*="custom-shopping-cart"] {
      mask-image: url(./assets/icon/shopping-cart.svg);
    }

    &[class*="toolbar-icon-shopping-cart"] {
      mask-image: url(./assets/icon/shopping-cart.svg);
    }

    &[class*="custom-inventory"] {
      mask-image: url(./assets/icon/inventory.svg);
    }

    &[class*="toolbar-icon-inventory"] {
      mask-image: url(./assets/icon/inventory.svg);
    }

    
    &[class*="custom-analytics"] {
      mask-image: url(./assets/icon/analytics.svg);
    }

    &[class*="toolbar-icon-analytics"] {
      mask-image: url(./assets/icon/analytics.svg);
    }

    &[class*="custom-seats"] {
      mask-image: url(./assets/icon/seats.svg);
    }

    &[class*="toolbar-icon-seats"] {
      mask-image: url(./assets/icon/seats.svg);
    }

    &[class*="custom-add-video"] {
      mask-image: url(./assets/icon/add-video.svg);
    }

    &[class*="toolbar-icon-add-video"] {
      mask-image: url(./assets/icon/add-video.svg);
    }

    &[class*="custom-new-video"] {
      mask-image: url(./assets/icon/addVideo.svg);
    }

    &[class*="toolbar-icon-new-video"] {
      mask-image: url(./assets/icon/addVideo.svg);
    }
  
  }