@charset "utf-8";
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~@swimlane/ngx-datatable/index.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


@font-face {
  font-family: 'DavidLibre';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/DavidLibre-Medium.ttf');
}

@font-face {
  font-family: 'Alef-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Alef-Regular.ttf');
}

@font-face {
  font-family: 'FrankRuhlLibre';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
  font-family: 'aharoni';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/aharoniclm-book-webfont.ttf');
}

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/VarelaRound-Regular.ttf');
}


@font-face {
  font-family: 'david_libremedium';
  src: url('./assets/fonts/davidlibre-medium-webfont.woff2') format('woff2'),
       url('./assets/fonts/davidlibre-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-dark);
}

ion-back-button {
  color: black;
}

ion-tab-bar{
    --background: rgb(234, 244, 245);
}

.add-participant-modal {
  --width: 700px !important;
  --height: 900px !important;
}

.add-speaker-modal {
  --width: 700px;
  --height: 800px;
}

.edit-speaker-modal {
  --width: 700px;
  --height: 800px;
}

.view-participant-modal {
  --width: 600px;
  --height: 830px;
}

.view-speaker-modal {
  --width: 500px;
  --height: 600px;
}

.therapist-detail-popover {
  --width: 420px;
  --max-width: 420px;
}

.select-units-style {
  --width: 100px;
}

.select-units-style .popover-content {
  overflow-y: hidden;
  align-items: flex-start;
}
// #youtube-player {
//   box-sizing: border-box;
//   border-width: 50px;
//   border-image: url(assets/background/screen.png) 50 stretch;
// }

#youtube-player {
  border-radius: 4px;
    margin-top: 46px;
}

.title-icon {
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
}

.toast-scheme {
  text-align: center;
  font-size: large;
}

.toolbar-icon {
  color: black;
}

// .swiper-wrapper {
//   transform: translate3d(-7.5px, 0px, 0px) !important;
// }

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }

    &[class*="icon-size-large"] {
      font-size: x-large;
    }

    &[class*="icon-vertical-line"] {
      padding-left: 4px;
      border-left: 1px solid rgb(104, 100, 100);
    }

    &[class*="toolbar-icon-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: black;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-waze"] {
      mask-image: url(./assets/icon/waze.svg);
    }
  
    &[class*="toolbar-icon-waze"] {
      mask-image: url(./assets/icon/waze.svg);
    }

    &[class*="custom-text-add"] {
      mask-image: url(./assets/icon/text-add.svg);
    }

    &[class*="toolbar-icon-text-add"] {
      mask-image: url(./assets/icon/text-add.svg);
    }

    &[class*="custom-online-learning"] {
      mask-image: url(./assets/icon/online-learning.svg);
    }

    &[class*="toolbar-icon-online-learning"] {
      mask-image: url(./assets/icon/online-learning.svg);
    }

    &[class*="custom-online-course"] {
      mask-image: url(./assets/icon/online-course.svg);
    }

    &[class*="toolbar-icon-online-course"] {
      mask-image: url(./assets/icon/online-course.svg);
    }

    &[class*="custom-training"] {
      mask-image: url(./assets/icon/training.svg);
    }

    &[class*="toolbar-icon-training"] {
      mask-image: url(./assets/icon/training.svg);
    }

    &[class*="custom-conference"] {
      mask-image: url(./assets/icon/conference.svg);
    }

    &[class*="toolbar-icon-conference"] {
      mask-image: url(./assets/icon/conference.svg);
    }

    &[class*="custom-management"] {
      mask-image: url(./assets/icon/management.svg);
    }

    &[class*="toolbar-icon-management"] {
      mask-image: url(./assets/icon/management.svg);
    }

    &[class*="custom-employees"] {
      mask-image: url(./assets/icon/employees.svg);
    }

    &[class*="toolbar-icon-employees"] {
      mask-image: url(./assets/icon/employees.svg);
    }

    &[class*="custom-calendar-event"] {
      mask-image: url(./assets/icon/calendar-event.svg);
    }

    &[class*="toolbar-icon-calendar-event"] {
      mask-image: url(./assets/icon/calendar-event.svg);
    }

    &[class*="custom-shopping-cart"] {
      mask-image: url(./assets/icon/shopping-cart.svg);
    }

    &[class*="toolbar-icon-shopping-cart"] {
      mask-image: url(./assets/icon/shopping-cart.svg);
    }

    &[class*="custom-orders"] {
      mask-image: url(./assets/icon/inventory.svg);
    }

    &[class*="toolbar-icon-orders"] {
      mask-image: url(./assets/icon/inventory.svg);
    }

    
    &[class*="custom-analytics"] {
      mask-image: url(./assets/icon/analytics.svg);
    }

    &[class*="toolbar-icon-analytics"] {
      mask-image: url(./assets/icon/analytics.svg);
    }

    &[class*="custom-seats"] {
      mask-image: url(./assets/icon/seats.svg);
    }

    &[class*="toolbar-icon-seats"] {
      mask-image: url(./assets/icon/seats.svg);
    }

    &[class*="custom-add-video"] {
      mask-image: url(./assets/icon/add-video.svg);
    }

    &[class*="toolbar-icon-add-video"] {
      mask-image: url(./assets/icon/add-video.svg);
    }

    &[class*="custom-new-video"] {
      mask-image: url(./assets/icon/addVideo.svg);
    }

    &[class*="toolbar-icon-new-video"] {
      mask-image: url(./assets/icon/addVideo.svg);
    }

    &[class*="custom-packages"] {
      mask-image: url(./assets/icon/supplies.svg);
    }

    &[class*="toolbar-icon-packages"] {
      mask-image: url(./assets/icon/supplies.svg);
    }

    &[class*="custom-product-description"] {
      mask-image: url(./assets/icon/product-description.svg);
    }

    &[class*="toolbar-icon-product-description"] {
      mask-image: url(./assets/icon/product-description.svg);
    }

    &[class*="custom-therapy"] {
      mask-image: url(./assets/icon/therapy.svg);
    }

    &[class*="toolbar-icon-therapy"] {
      mask-image: url(./assets/icon/therapy.svg);
    }

    &[class*="custom-therapist"] {
      mask-image: url(./assets/icon/therapist.svg);
    }

    &[class*="toolbar-icon-therapist"] {
      mask-image: url(./assets/icon/therapist.svg);
    }

    &[class*="custom-statistics"] {
      mask-image: url(./assets/icon/statistics.svg);
    }

    &[class*="toolbar-icon-statistics"] {
      mask-image: url(./assets/icon/statistics.svg);
    }

    &[class*="custom-customers"] {
      mask-image: url(./assets/icon/customers.svg);
    }

    &[class*="toolbar-icon-customers"] {
      mask-image: url(./assets/icon/customers.svg);
    }

    &[class*="custom-speaker"] {
      mask-image: url(./assets/icon/speaker.svg);
    }

    &[class*="toolbar-icon-speaker"] {
      mask-image: url(./assets/icon/speaker.svg);
    }
    
    &[class*="custom-firstName"] {
      mask-image: url(./assets/icon/firstName.svg);
    }

    &[class*="toolbar-icon-firstName"] {
      mask-image: url(./assets/icon/firstName.svg);
    }

    &[class*="custom-lastName"] {
      mask-image: url(./assets/icon/lastName.svg);
    }

    &[class*="toolbar-icon-lastName"] {
      mask-image: url(./assets/icon/lastName.svg);
    }

    &[class*="custom-resume"] {
      mask-image: url(./assets/icon/resume.svg);
    }

    &[class*="toolbar-icon-resume"] {
      mask-image: url(./assets/icon/resume.svg);
    }

    &[class*="custom-brain-treatment"] {
      mask-image: url(./assets/icon/brain-treatment.svg);
    }

    &[class*="toolbar-icon-brain-treatment"] {
      mask-image: url(./assets/icon/brain-treatment.svg);
    }

    &[class*="custom-users-list"] {
      mask-image: url(./assets/icon/usersList.svg);
    }

    &[class*="toolbar-icon-users-list"] {
      mask-image: url(./assets/icon/usersList.svg);
    }

    &[class*="custom-item"] {
      mask-image: url(./assets/icon/item.svg);
    }

    &[class*="toolbar-icon-item"] {
      mask-image: url(./assets/icon/item.svg);
    }

    &[class*="custom-coupon"] {
      mask-image: url(./assets/icon/coupon.svg);
    }

    &[class*="toolbar-icon-coupon"] {
      mask-image: url(./assets/icon/coupon.svg);
    }

    &[class*="custom-coupons"] {
      mask-image: url(./assets/icon/coupons.svg);
    }

    &[class*="toolbar-icon-coupons"] {
      mask-image: url(./assets/icon/coupons.svg);
    }

    &[class*="custom-cashier"] {
      mask-image: url(./assets/icon/cashier.svg);
    }

    &[class*="toolbar-icon-cashier"] {
      mask-image: url(./assets/icon/cashier.svg);
    }
  
  
  }