<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'manage']"></ion-back-button>
  </ion-buttons>
  <ion-title class="app-titles">ניהול הזמנות</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
<!---------------------------------- Action Buttons -------------------------------------------------->
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="onAddOrder()">
        <ion-icon class="custom-online-course" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">הוסף</ion-label>
      </ion-button>

      <ion-button color="secondary" (click)="onViewOrder()" [disabled]="!isRowSelected">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">פרטים</ion-label>
      </ion-button>

      <ion-button color="warning" (click)="onEditOrder()" [disabled]="!isRowSelected">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">ערוך</ion-label>
      </ion-button>

      <ion-button color="danger" (click)="onDeleteOrder()" [disabled]="!isRowSelected">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label class="app-crud-btn-label">מחק</ion-label>
      </ion-button>

      </ion-col>
    </ion-row>
<!---------------------------------- filtering inputs -------------------------------------------------->
    <ion-row>

      <ion-col size="4" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="חפש קורס"
          (keyup)="filterByOrederId($event)">
          </ion-input>
          <ion-icon name="funnel-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col>

      <!-- <ion-col size="4" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="חפש קורס"
          (keyup)="filterEvents($event)">
          </ion-input>
          <ion-icon name="funnel-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col> -->

    </ion-row>
<!------------------------------------------ courses datatable -------------------------------------------------->
    <ion-row>
      
      <ngx-datatable
      #ordersTable
      [rows]="orders"
      class="bootstrap expandable"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [footerHeight]="50"
      [messages]="{emptyMessage:'אין נתונים להצגה', totalMessage: 'total', selectedMessage: 'selected'}"
      [limit]="50"
      [columnMode]="columnMode.standard"
      [selected]="selected"
      [selectionType]="SelectionType.single"
      (select)="onSelect($event)"
    >
    <!-- Row Detail -->
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        
        <ion-row>
          <ion-col class="ion-text-center" *ngIf="loadingSelectedOrder">
            <ion-spinner color="primary"></ion-spinner>
          </ion-col>

          <ion-col class="ion-padding-start" *ngIf="!loadingSelectedOrder">
              <div><strong>מוצרים</strong></div>
              <div *ngFor="let item of selectOrderdetails.items">({{ item.units }}) {{ item.name }}</div>
          </ion-col>

          <ion-col *ngIf="!loadingSelectedOrder">
            <ion-label><strong>לקוח</strong></ion-label>
            <div> {{ selectOrderdetails.user.firstName +' '+selectOrderdetails.user.lastName }}</div>
            <div> {{ selectOrderdetails.user.email }}</div>
            <div> {{ selectOrderdetails.user.phone }}</div>
          </ion-col>

          <ion-col *ngIf="!loadingSelectedOrder && selectOrderdetails.address">
            <ion-label><strong>כתובת למשלוח</strong></ion-label>
            <div> {{ selectOrderdetails.address.street + ' ' + selectOrderdetails.address.houseNumber }}</div>
            <div> {{ selectOrderdetails.address.city }}</div>
            <div> {{ selectOrderdetails.address.zipCode }}</div>
          </ion-col>

        </ion-row>
      </ng-template>
    </ngx-datatable-row-detail>

    <ngx-datatable-column
          [width]="80"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          cellClass="datatable-cell-padding"
          headerClass="datatable-header-padding"
        >
        <ng-template let-column="column" ngx-datatable-header-template><strong>פרטים</strong></ng-template>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              [class.datatable-icon-left]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="הצג/הסתר פרטים"
              (click)="toggleExpandRow(row)"
            >
            </a>
          </ng-template>
        </ngx-datatable-column>

    <ngx-datatable-column name="id" headerClass="datatable-header-padding" cellClass="datatable-cell-padding" [width]="320" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>מספר הזמנה</strong></ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="date" headerClass="datatable-header-padding" cellClass="datatable-cell-padding" [sortable]="true" [width]="150" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>תאריך הזמנה</strong></ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row['date'] | date }}
      </ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column name="totalPayment" headerClass="datatable-header-padding" cellClass="datatable-cell-padding" [width]="120" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>סכום ההזמנה</strong></ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row['totalPayment'] | currency:'ILS' }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="receivedPayment" headerClass="datatable-header-padding" cellClass="received-payment-cell-class datatable-cell-padding" [sortable]="true" [width]="130" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>התקבל תשלום</strong></ng-template>
       <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
         <ion-checkbox [color]="row['receivedPayment']? 'success':'danger'" [indeterminate]="!row['receivedPayment']" mode="ios" class="cb-payment" [checked]="row['receivedPayment']"></ion-checkbox>
       </ng-template>
    </ngx-datatable-column> 


      <ngx-datatable-footer #datatableFooter>
        <ng-template ngx-datatable-footer-template 
        let-rowCount="rowCount"
        let-selectedCount="selectedCount"
        >
        <div>&nbsp;נבחר {{ selectedCount }}  מתוך {{ rowCount }} הזמנות </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>

    </ion-row>

  </ion-grid>
</ion-content>
