<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-home-page-title">שלום {{ user?.firstName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #updatesSlides class="update-slides ion-no-margin" [options]="slideOpts">
    <ion-slide *ngFor="let update of this?.updates">
      <a class="update-text" href="#" >{{ update.description }} </a>
    </ion-slide>
  </ion-slides>
</ion-content>
