<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="app-back-btn" text="חזרה" [defaultHref]="['/', 'manage']"></ion-back-button>
    </ion-buttons>
    <ion-title class="app-titles">ניהול קורסים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
<!---------------------------------- Action Buttons -------------------------------------------------->
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="onAddCourse()">
        <ion-icon class="custom-online-course" slot="start"></ion-icon>
        <ion-label>הוסף</ion-label>
      </ion-button>

      <ion-button color="secondary" (click)="onViewCourse()" [disabled]="!isRowSelected">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label>צפייה</ion-label>
      </ion-button>

      <ion-button color="warning" (click)="onEditCourse()" [disabled]="!isRowSelected">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>ערוך</ion-label>
      </ion-button>

      <ion-button color="danger" (click)="onDeleteCourse()" [disabled]="!isRowSelected">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>מחק</ion-label>
      </ion-button>

      </ion-col>
    </ion-row>
<!---------------------------------- filtering inputs -------------------------------------------------->
    <ion-row>

      <ion-col size="4" class="ion-padding-end">
        <ion-item>
          <ion-input   
          type="text"
          placeholder="חפש קורס"
          (keyup)="filterCourses($event)">
          </ion-input>
          <ion-icon name="funnel-outline" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
        </ion-item>
      </ion-col>

    </ion-row>
<!------------------------------------------ courses datatable -------------------------------------------------->
    <ion-row>
      
      <ngx-datatable
      #coursesTable
      [rows]="courses"
      class="bootstrap"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [footerHeight]="50"
      [messages]="{emptyMessage:'אין נתונים להצגה', totalMessage: 'total', selectedMessage: 'selected'}"
      [limit]="50"
      [columnMode]="columnMode.standard"
      [selected]="selected"
      [selectionType]="SelectionType.single"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="" [sortable]="false" [width]="100">

      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-thumbnail>
          <ion-img [src]="row['thumbnail']"></ion-img>
        </ion-thumbnail>
      </ng-template>
    </ngx-datatable-column> 

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="title" [width]="150" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>כותרת הקורס</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="authorName" [width]="140" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>מרצה</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="date" [sortable]="true" [width]="150" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>תאריך</strong></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ row['date'] | date }}
        </ng-template>
      </ngx-datatable-column> 

      <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="courseLessons" [width]="80" [resizeable]="false">
        <ng-template let-column="column" ngx-datatable-header-template><strong>שיעורים</strong></ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer #datatableFooter>
        <ng-template ngx-datatable-footer-template 
        let-rowCount="rowCount"
        let-selectedCount="selectedCount"
        >
        <div>&nbsp;נבחר {{ selectedCount }}  מתוך {{ rowCount }} קורסים </div>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>

<!------------------------------------------ lessons datatable -------------------------------------------------->

    <ngx-datatable *ngIf="isRowSelected"
    #ulessonsTable
    [loadingIndicator]="loadingIndicator"
    [rows]="lessons"
    class="material ion-margin"
    [rowHeight]="'auto'"
    [messages]="{emptyMessage:'אין נתונים להצגה'}"
    [headerHeight]="50"
    [footerHeight]="100"
    [limit]="50"
    [columnMode]="columnMode.standard"
  >
    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="lessonNumber" [width]="60" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>שיעור</strong></ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="" [sortable]="false" [width]="100" [resizeable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-thumbnail>
          <ion-img [src]="getVideoThumbnail(row['videoId'])"></ion-img>
        </ion-thumbnail>
      </ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="title" [width]="150" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>כותרת שיעור</strong></ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="date" [sortable]="true" [width]="110" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template><strong>תאריך</strong></ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row['date'] | date }}
      </ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="פעולות" [sortable]="false" [width]="130" [resizeable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <ion-icon slot="start" color="primary" name="eye-outline" class="icon-size-large icon-vertical-line icon-actions-hover" (click)="onViewLesson(row.id)"></ion-icon>
        <ion-icon slot="start" color="warning" name="create-outline" class="icon-size-large icon-vertical-line icon-actions-hover" (click)="onEditLesson(row)"></ion-icon>
        <ion-icon slot="start" color="danger" name="trash-outline" class="icon-size-large icon-actions-hover" (click)="onDeleteLesson(row.id)"></ion-icon>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template 
      let-rowCount="rowCount"
      let-curPage="curPage"
      >
        <div style="padding: 5px 10px">
        <ion-button (click)="onAddLesson()">
          <ion-icon name="add" slot="start"></ion-icon>
          <ion-label>הוסף שיעור</ion-label>
        </ion-button>
          <hr style="width:100%" />
              <div>שורות: {{ rowCount }} | עמוד: {{ curPage }}</div>
        </div>
      </ng-template>
    </ngx-datatable-footer>

  </ngx-datatable>

    </ion-row>

  </ion-grid>

</ion-content>
